[2019-12-19 11:08] GrahamCampbell commented on #1115
Could you show the stack trace please?

[2019-12-19 13:56] frankdejonge commented on #1115
@jswails your question is very vague. Can you be a little more specific? There's no getPermissions method on the Filesystem class. The plugin functionality throws this method when you call an undefined method but there's no plugin registered to handle this call. This code has not been changed since 2017, so it's not really likely that this is causing your issue.

[2019-12-19 13:56] frankdejonge commented on #1115
I'm also not sure why you are linking to the aws-s3 adapter.

[2019-12-20 10:25] jswails commented on #1115
Sorry just got back to my home computer. here is the stack trace. It wasnt really much in there as it just failed.

PHP Fatal error:  Uncaught Error: Call to undefined method League\Flysystem\Filesystem::getPermissions() in /var/www/html/cumulusclips/cc-core/system/encode.php:55
Stack trace:
#0 {main}
Sure Frank.
Here is my code I am using the example from your website for connecting to Digital Oc

[2019-12-20 22:21] frankdejonge commented on #1115
@jswails it's very unlikely that this script is causing the error. The call stack says it's called on the filesystem object from `/var/www/html/cumulusclips/cc-core/system/encode.php` at line `55` can you check what that line is?

[2019-12-20 22:23] frankdejonge commented on #1115
@jswails what versions of the packages do you have installed? I'd like to see the version of league/flysystem, league/flysystem-aws-s2-v3, and for the aws php sdk

[2019-12-20 22:29] frankdejonge commented on #1115
I've run a test script with this similar code and there's no error.

[2019-12-21 22:36] #1111 closed

[2019-12-24 14:18] #1077 closed

[2019-12-29 14:04] bjora857 opened #1118 "Trying to access array offset on value of type bool"
### Bug Report
Error when using streams and S3 on php 7.4
Works fine on php 7.3
But breaks on php 7.4

#### How to reproduce
Upload a file to s3 using fopen
[code]

<img width="769" alt="php74" src="https://user-images.githubusercontent.com/237053/71557856-4616c580-2a4c-11ea-9a35-857bced1ecad.png">

[2019-12-29 14:19] frankdejonge commented on #1118
Hi @bjora857, what's the value of the $imageUrl variable? Are you trying to upload a file by opening a URL?

[2019-12-29 14:21] GrahamCampbell commented on #1118
Are you actually calling that with the typo in the variable name... That could explain why we are having an array access on "false".

[2019-12-29 14:22] bjora857 commented on #1118
Yes, imageUrl. something like
`$imageUrl = 'https://happywall-statix.imgix.net/category/hero/landscapes.jpg';`

[2019-12-29 14:24] bjora857 commented on #1118
Sorry. That was just a typo. it should of course be $imageUrl.
The point was, that it works fine if I use file_get_contents, but fails when using fopen

[2019-12-29 14:27] frankdejonge commented on #1118
It's because PHP can't determine the size (there's no file backing it), I'll make sure it'll check for the existence of the key first. Although, I must say, this is not really what this library was intended for 🤷‍♂

[2019-12-29 14:29] GrahamCampbell commented on #1118
Maybe the stream size method should actually throw an exception on all versions, intentionally breaking this sort of usage. I'd say it was not a BC break, since a BC break is a change in the intended behaviour, not just edge cases (otherwise all bug fixes would be BC breaks).

[2019-12-29 14:31] frankdejonge commented on #1118
It's not a BC break for sure, totally agree with that. The method should be passed file handles, the fopen call on a url doesn't provide one.

[2019-12-29 14:32] GrahamCampbell commented on #1118
I'll send a PR. One sec.

[2019-12-29 14:33] frankdejonge commented on #1118
@GrahamCampbell while I agree it's not a BC break, I think supporting this is harmless. It'll just be limited in optimisation for some cases for AWS. I'm working on making the size retrieving work for this case. No PR needed.

[2019-12-29 14:35] GrahamCampbell commented on #1118
https://github.com/thephpleague/flysystem/pull/1119 is what I have for now. I suppose some code can go before my throw to handle other cases, like possibly AWS, like you say.

[2019-12-29 14:36] frankdejonge commented on #1118
@GrahamCampbell I've added some remarks to the PR.

[2019-12-29 14:39] GrahamCampbell commented on #1118
Thanks. Just pulling down the repo to my machine to make the changes.

[2019-12-29 14:39] frankdejonge commented on #1118
👍

[2019-12-29 14:43] GrahamCampbell commented on #1118
Pushed. Provisionally, the tests are passing (not all of the runs completed yet).

[2019-12-29 14:46] bjora857 commented on #1118
You guys are awesome. @GrahamCampbell @frankdejonge

[2019-12-29 14:49] #1118 closed

[2019-12-29 14:49] GrahamCampbell commented on #1118
Just to be clear, your code will now not work on either version now. You need to first download the image to disk, then upload it.

[2019-12-29 14:51] GrahamCampbell commented on #1118
Oh, actually, I think it should be fine, looking at the `AwsS3Adapter` code. ;)

[2019-12-29 14:51] frankdejonge commented on #1118
I think his code will work now. It just not 100% clear how the aws sdk uploads it. Perhaps in a not very efficient manner.

[2019-12-29 14:55] GrahamCampbell commented on #1118
I did notice some minor errors in the phpdoc though: https://github.com/thephpleague/flysystem-aws-s3-v3/pull/187. ;)

[2019-12-29 15:07] bjora857 commented on #1118
I can confirm my code works after the fix.
My usecase was to upload a large image file to s3 from a url, without being restricted by the php memory limit. Anyway, I'm very happy that it got resolved in less than an hour.

[2019-12-29 15:08] frankdejonge commented on #1118
👍 @bjora857 please consider sponsoring open source authors to keep making this possible.

[2019-12-29 15:24] GrahamCampbell commented on #1118
You could also stream the file to tmp, then stream it back into php as a resource. That way, if the file download ever fails, you don't end up with a partially uploaded file, or some other cryptic errors.

[2020-01-02 14:54] frankdejonge commented on #1115
Closing this due to lack of response.

[2020-01-02 14:54] #1115 closed

[2020-01-04 15:28] #1113 closed

[2020-01-04 16:25] frankdejonge opened #1121 "Test suite has year specific timestamp tests."
I'm on it.

[2020-01-04 16:30] frankdejonge commented on #1121
Probably fixed in 8132daec326565036bc8e8d1876f77ec183a7bd6

[2020-01-04 16:36] frankdejonge commented on #1121
https://travis-ci.org/thephpleague/flysystem/builds/632683498

[2020-01-04 16:39] frankdejonge commented on #1121
Fix confirmed.

[2020-01-04 16:39] #1121 closed

[2020-01-08 11:41] anmar1986 commented on #1039
Hi hemranta,
i´m trying to build an application which is a contact form and the user can send me a video bigger than 1GB
so can you send me your application ? because i did not chose the php framework til now
and i can buld it like you with slim framework.
yours Anmar

[2020-01-10 07:12] hemratna commented on #1039
Hi @anmar1986
I used flysystem with [Directus](https://github.com/directus/api) and it's working fine.

But if you are planning to develop a new app from scratch, I am suggesting to go with Laravel (which also use flysystem behind the scene).

[2020-01-20 13:57] Yassin2019Pp opened #1123 "---------------"
------------

[2020-01-21 10:13] #1123 closed

[2020-01-21 11:30] anmar1986 commented on #1039
Hello Hemratna,
thanks for your reply, laravel is a little bit big for an application like
this.
which one will you suggest for me ? i mean which php framework would be
better ?

Yours Anmar

On Fri, 10 Jan 2020 at 08:12, Hemratna Bhimani <notifications@github.com>
wrote:

[2020-01-30 17:03] LuisCamelo opened #1124 "Using ftp adapter function has() dont work if file need to start escaping a character"
### Bug Report

On ftp adapter function has() return false for file that start with characters that need escape

|    Q        |   A
|------------ | ------
| Version     | 1.0.6

#### Summary

Using ftp adapter on function has() or read() if the file is by
eg. [xpto].txt and it is inside a folder eg. imports/[xpto].txt the return will be file not found.
Problem is caused because the function has()

[2020-01-31 04:43] #1099 closed

[2020-01-31 14:43] #1101 closed

[2020-02-06 17:34] gamersalpha opened #1127 "Searching files in directory"
Hello there,

can make a search on directory, i got many search on many recursiv folder ?

do u have a solution to do it thanks

[2020-02-06 17:36] frankdejonge commented on #1127
Hi,

Flysystem does not support searching, since it's not compatible with the underlying filesystems. If you want to search, you can create a listing and do an in-memory search over the result to narrow down the range.

[2020-02-06 17:40] gamersalpha commented on #1127
lol
it was fast

very thanks :^)

i can use flyssytem to make my search prgrma files or it's better to not using it beacuse is slow ?

[2020-02-06 17:45] frankdejonge commented on #1127
I would advice against it. As you suggested, filesystems are quite slow. It's better to use a different way than to search on the filesystem. You can also sync the paths to a DB and search there, that will perform better.

[2020-02-12 10:22] d4mn commented on #1045
This issue still exists!

[2020-02-12 11:23] jekabsmilbrets opened #1128 "FTP List Contents fails randomly"
Hi, Im using Lumen v6.3.3 and flysysem that comes with it

I have an scheduled job that lists contents of ftp  and compares with local and then downloads it;

it Runs code:

[code]

This error occurs randomly on local dev and on remote dev server.

[code]

Problem seems to originate from this part of code:

[code]

Q: How can I get logs from FTP commands?

[2020-02-13 13:46] #1098 closed

[2020-02-13 13:46] #1042 closed

[2020-02-14 13:01] apmyp1990 opened #1130 "Unable to use SFTP with ECDH algorithm"
I am using Laravel with the newest version. I need to put a file on a sftp server, but when trying to do so following error occurs:
No compatible key exchange algorithms found.

After some investigation I figured out, that the server needs ECDH key exchange.

How to fix this error?

[2020-02-16 17:58] Lucifer017 commented on #1124
Please fix this immediately! I got the same issue.

[2020-02-16 18:42] frankdejonge commented on #1130
Hi, you can always inject a SFTP connection which you've provided yourself. So try using phpseclib directly to see how to establish a connection and then provide that connection for use in Flysystem should do the trick for you.

[2020-02-16 18:48] GrahamCampbell commented on #1124
I assume you will be submitting a fix for this as a PR immediately then @Lucifer017?

[2020-02-16 18:52] Lucifer017 commented on #1124
I mean @LuisCamelo has the fix already.

[2020-02-16 18:59] frankdejonge commented on #1124
<img width="430" alt="Screenshot 2020-02-16 at 19 57 39" src="https://user-images.githubusercontent.com/534693/74610793-9af2c600-50f6-11ea-8309-ac657143605f.png">

@Lucifer017 since you like to learn something new. Here's a word for you, it's called "entitlement". For example when you demand other people to immediately spend their free time to fix an issue you have.

[2020-02-16 19:28] frankdejonge commented on #1128
@jekabsmilbrets what kind of FTP server are you talking to?

[2020-02-17 07:32] jekabsmilbrets commented on #1128
Looks like MS IIS - Reply: 220 Microsoft FTP Service;

But I installed graham-campbell/flysystem package and now I made this contraption and have not failed yet.

[code]

I put it in try/catch, where it does multiple "reconnect" tries if failed and looks like it's working, but I still would like to understand why it failed.

[2020-02-17 07:33] frankdejonge commented on #1128
@jekabsmilbrets is this a long running process?

[2020-02-17 07:36] jekabsmilbrets commented on #1128
Thats an scheduled job, that runs every 15 min @ workday hours and every 1 h of workday hours and usually no more than 5 min -> max 10 min;
It fetches list of content, compares with local file list and download missing/changed and launches chains of jobs that imports new/changed files.

[2020-02-17 07:38] frankdejonge commented on #1128
That's indeed enough time for a FTP connection to drop. For now that redirect thing should work fine. For the next version there will be an improved auto-reconnect (coming soon).

[2020-02-17 07:40] jekabsmilbrets commented on #1128
Thanks for the info!

Is it somehow possible to get FTP connection/actions log's ?

[2020-02-17 07:41] frankdejonge commented on #1128
Not in V1, unless you extend it, the `connect` method is probably where you want to log stuff.

[2020-02-17 09:09] apmyp1990 commented on #1130
The error occurs at phpseclib:
![image](https://user-images.githubusercontent.com/20161590/74639081-8a316700-516d-11ea-8b6f-f926abf9a6d1.png)

[2020-02-17 10:27] frankdejonge commented on #1130
Not much I can do from Flysystem's side then, sorry about that.

[2020-02-17 12:01] LuisCamelo commented on #1124
i dont have a real fix for this. I simple made a work around for my case but the issue is more complicated than it appears.

[2020-02-18 06:49] apmyp1990 commented on #1130
I have done some research again, and found that phpseclib will be able to use sftp with ecdh in version 3, but it is still a dev branch. They have implemented following workaround https://github.com/phpseclib/phpseclib2_compat

Is it possible to include this one in Flysystem?

[2020-02-19 07:45] frankdejonge commented on #1130
@apmyp1990 I believe you can just use that, if you add a "replaces" clause to your composer.json and add this one you should be fine.

[2020-02-22 15:49] #1110 closed

[2020-02-23 13:26] #1130 closed, assigned to nobody

[2020-02-23 13:32] #1128 closed, assigned to nobody

[2020-02-24 16:27] modevelops opened #1135 "\League\Flysystem\Adapter\Local::deleteDir does not delete directories reliably"
### Bug Report

\League\Flysystem\Adapter\Local::deleteDir does not delete directories reliably. Files are sometimes skipped during deletion, so that a directory cannot be deleted using rmdir() and a corresponding error message appears.

|    Q        |   A
|------------ | ------
| Version     | 1.0.63
| PHP-Version | 7.3.14 (Zend: 3.3.14)
| Server OS | FreeBSD 11.3-RELEASE-p5

#### Summary

It ca

[2020-02-27 13:06] felixdorn opened #1138 "How to overwrite file content?"
### How to overwrite file content?

| Version  |  1.0.64
|------------ | ------

[code]
But it throws an FileExistsException

I played with `setVisibility` but it does not change anything.
[code]

Also, i found nothing about that on the documentation.

[2020-02-29 09:53] akoSalman opened #1139 "ftp_mkdir(): Can't create directory: File exists"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | x.y.z

#### Summary

When creating a new directory on FTP server, this code `$listing = ftp_nlist($connection, '.') ?: [];` just gets 10,000 directories and if there is more directory in the current directory and of course if the directory that user wants to create is in not listed directories, then this

[2020-03-08 18:36] flangfeldt opened #1140 "\League\Flysystem\Adapter\Local::copy does not copy directories"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 1.0.63
| PHP version | 7.3.13
| Server OS | Centos 7.7.1908

#### Summary

\League\Flysystem\Adapter\Local::copy does not copy directories. The description of the API states it copies Files and Directories, but with the Local Adapter only Files are copied. See https://flysystem.thephpleague.com/v1/docs/usage/filesystem-api/

[2020-03-08 18:38] #1140 closed, assigned to nobody

[2020-03-08 18:38] frankdejonge commented on #1140
This was an error in the docs, I've corrected it.

[2020-03-08 18:48] flangfeldt commented on #1140
Ok, that's a shame. Seems like a great addition.
Now I have to Frankenstein it outside of the Adapter.

Thanks for the super fast response anyway.

[2020-03-09 17:13] designermonkey opened #1142 "Add to AdapterInterface"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | possibly?

#### Scenario

When using the project, we would pass the Filesystem instance into a Repository class for example. Using that Interface we can `getAdapter` expecting an `AdapterInterface`.

All the implementations I can find a use for (`LocalAdapter`, `S3Adapter`) use the `AbstractAdapter`

[2020-03-09 17:32] frankdejonge commented on #1142
The getAdapter methods will be removed from Flysystem alltogether in V2 and will not be added in V1 as it is a bad practice to expose the internals of an abstraction. If you need the adapter, simply depend on the adapter and use DI to get access to it. In a proper OO world, that's how you manage your dependencies.

[2020-03-09 17:32] #1142 closed, assigned to nobody

[2020-03-09 21:33] designermonkey commented on #1142
It would be an odd approach to have to rely on DI for the adapter implementation and the filesystem class.

I'm sure there's a better way and I'll have a think.

[2020-03-11 09:00] #1127 closed, assigned to nobody

[2020-03-14 22:02] frankdejonge commented on #1138
Hi @felixdorn, you can use the `->put` or `->update` functions.

[2020-03-18 07:12] #1138 closed, assigned to nobody

[2020-03-25 08:59] kesselb opened #1147 "Nested generators and iterator_to_array"
### Question

|    Q        |   A
|------------ | ------
| Version     | 2.x

I tried to migrate `thephpleague/flysystem-webdav` to 2.x and run into an issue with the [listing_contents_recursive](https://github.com/thephpleague/flysystem/blob/0d8cdd573af8b6ad2baa60e4e9ba8a48b86e9bb6/src/AdapterTestUtilities/FilesystemAdapterTestCase.php#L171-L181) test.

[code]

To fetch files and folder recursive

[2020-03-25 09:10] frankdejonge commented on #1147
So, this one threw me off as well at first. Inside the main package, I've worked around it by re-yielding, which unfolds generator, so you don't get overlapping indexes. Apart from that, your suggestion (passing `false`) is the only alternative that I'm aware of.

[2020-03-26 12:26] kesselb commented on #1147
Thanks. That worked for me too.

[2020-03-26 12:26] #1147 closed, assigned to nobody

[2020-03-26 12:43] kesselb opened #1148 "Service Unavailable Exception for WebDAV adapter"
### Question

|    Q        |   A
|------------ | ------
| Version     | 2.x

https://github.com/kesselb/flysystem-webdav/blob/ea6e40682f7d2ca015e27ab7131aa23709af2568/WebDAVFilesystem.php#L295

A propfind request can timeout or interrupt. I would like to catch that exception and re throw a flysystem exception.

I guess that might happen to other adapters as well. Is that something a adapter shoul

[2020-03-26 12:53] frankdejonge commented on #1148
Hi @kesselb,

You can look at the way the other adapters do this for inspiration. The gist of it is this; All the errors and exceptions from an adapter should be caught (or suppressed if warning), for each case, a helpful exception should be thrown. This exception should implement the `FilesystemException` interface. The provided (and documented) exceptions should be used when the operation itself

[2020-03-26 14:12] kesselb commented on #1148
Thanks @frankdejonge :+1: That works for me.

[2020-03-26 14:12] #1148 closed, assigned to nobody

[2020-03-28 00:28] jupitern opened #1150 "rename/copy not working some regions of Digital Ocean"
### Question

|    Q        |   A
|------------ | ------
| Version     | 1.0.66

rename not working some regions (ams3 for example) Digital Oceans. copy inside rename always return false.
In an old region fra1 it works fine. Any ideia why?

[2020-03-29 20:12] frankdejonge commented on #1150
Hi, this is not really something Flysystem can fix, this is all covered in how digital ocean follows the S3 spec and how the AWS S3 client is built.

[2020-04-01 18:27] jupitern commented on #1150
Hi, thanks for the response.

[2020-04-01 18:27] #1150 closed, assigned to nobody

[2020-04-03 11:35] TerraSkye opened #1151 "Documentation error"
When i was browsing thourght the upgrade docs i fount out that
under the heading *Writes are now deterministic*
the new methods  are called `write` and `writeStream`
yet the example below that says `writeWrite`

https://flysystem.thephpleague.com/v2/docs/advanced/upgrade-to-2.0.0/

[2020-04-04 18:07] Lamicz commented on #1151
I have a small error in this block:

- $fileExists = $filesystem->has($path);
+ $fileExists = $filesystem->fileExist($path);

The new method is called "fileExists"

[2020-04-04 22:54] affonso-rafael commented on #903
I solved this by changing the supervisor config that is responsible to run the horizon
In my case changed `user=nobody` to `user=www-data`
in `/etc/supervidor/config.d/horizon.conf`
Reboot the server and be happy

[2020-04-17 07:20] erlangparasu opened #1155 "sftp file and directory watcher (detect changes)"
### Feature Request

sftp file and directory watcher (detect changes)

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes/no

[2020-04-25 03:57] #1124 closed, assigned to nobody

[2020-04-27 16:37] modevelops commented on #1135
Any update if this issue will be resolved?

[2020-04-28 13:19] houshyar opened #1157 "Zero-width non-joiner in $path"
https://github.com/thephpleague/flysystem/blob/5b1f36c75c4bdde981294c2a0ebdb437ee6f275e/src/Util.php#L144
This regex search pattern removes unprintable characters and invalid unicode characters from $path. But as you can see in [Wikipedia: Zero-width_non-joiner](https://en.wikipedia.org/wiki/Zero-width_non-joiner), this character and this one: [wikipedia: Zero-width_joiner](https://en.wikipedia.or

[2020-05-05 00:48] othercorey opened #1158 "Documentation: Aws S3 adapter says local filesystem"
This is a very minor documentation issue, but I don't know where else to mention it.

https://flysystem.thephpleague.com/v2/docs/adapter/aws-s3-v3/

The V2 Aws S3 adapter says:

Instead of:

[2020-05-05 07:13] OskarStark commented on #1158
Your proposal looks correct to me. Are you willing to provide a PR?

[2020-05-05 18:52] othercorey commented on #1158
Done. I didn't realize it was in the gh-pages branch.

[2020-05-05 20:08] #1158 closed, assigned to nobody

[2020-05-06 11:10] #1139 closed, assigned to nobody

[2020-05-07 23:26] michabbb opened #1161 "ftp: how to get timestamp with directory listing?"
### Question

within laravel is do this: `Storage::disk('ftp')->listContents()`

and the output shows me:

[code]

if i set `$enableTimestampsOnUnixListings` to `true` (directly at src\Adapter\AbstractFtpAdapter.php)
i get my timestamp:

[code]
but i have no idea howto call the function `setEnableTimestampsOnUnixListings()` from outside.

thanks for any help !!!

|    Q        |   A
|------------

[2020-05-08 10:14] ganeko opened #1162 "MountManager deprecation in v2"
### Question

|    Q        |   A
|------------ | ------
| Reviewing the version 2 documentation and the branch I see that the MountManager has disappeared. Are there plans to deprecate this class or is it just going to be a breaking change?     | –

[2020-05-08 12:16] michabbb commented on #1161
some timestamps are in the future:

[code]
`1608154440` => `GMT: Wednesday, 16. December 2020 21:34:00`

is this a bug ? i try to avoid reading each file individually to get the timestamp of the file, i hope there is a way to get this in only one call.

when i do manually `->getTimestamp('ORDER_19-619187.xml')` i get a correct timestamp:
`1576532044`

🤔 🤷

[2020-05-09 10:32] michabbb commented on #1161
or: is there a way to get all files ordered by:

- timestamp <-- what I need
- size
- name

???

[2020-05-12 20:40] frankdejonge commented on #1162
I've added an `@deprecated` annotation to the mountmanager. Thanks for spotting this.

[2020-05-12 20:40] #1162 closed, assigned to nobody

[2020-05-12 20:44] frankdejonge commented on #1151
Thanks, I fixed it.

[2020-05-12 20:44] #1151 closed, assigned to nobody

[2020-05-12 20:45] frankdejonge commented on #1064
This can't be historically corrected.

[2020-05-12 20:45] #1064 closed

[2020-05-12 20:46] frankdejonge commented on #970
Implemented in 2.0

[2020-05-12 20:46] #970 closed

[2020-05-12 20:48] frankdejonge commented on #1135
This is an issue with PHP and NAS, I suggest to extend the class for your case. For the next version, the default will be generator based, so having full instant listings is an internal detail that's incompatible with that. Since you're hitting an edge case, handling it as a one off difference is the way to go.

[2020-05-12 20:48] #1135 closed, assigned to nobody

[2020-05-12 20:49] frankdejonge commented on #1155
This is out of scope for this library.

[2020-05-12 20:49] #1155 closed, assigned to nobody

[2020-05-18 14:38] yannickroger opened #1166 "Timestamp type missmatch"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | NO
| Version     | x.y.z

#### Summary
First of all, thanks for this great project.

I ran into an issue, [FilesystemInterface says](https://github.com/thephpleague/flysystem/blob/1.x/src/FilesystemInterface.php#L90)  `getTimestamp()` returns a `string` while in fact, at least for the `Local` adapter, [it returns an int](ht

[2020-05-18 14:59] frankdejonge commented on #1166
Nicely spot! It's always weird how you can overlook something like that for such a long time. I've pushed the fix to master, will soon tag the release. Thank you got raising this issue.

[2020-05-18 15:01] yannickroger commented on #1166
Thanks a lot 😄

[2020-05-18 15:14] frankdejonge commented on #1166
1.0.69 is tagged and should be available shortly

[2020-05-18 23:03] pthreat commented on #294
@frankdejonge I actually question myself for using this library when I read that you don't know "why would someone need a full path", in my case I need the full path of a certificate file stored on my local FS.

[2020-05-26 02:06] johnwc commented on #766
We're seeing the same issue, the -aln is causing an issue with the remote FTP. But a ftp_nlist works as expected. Can there be an option added in the adapter to tell it to use nlist instead of rawlist?

[2020-05-26 07:35] valehasadli opened #1167 "Does not comply with psr-4 autoloading standard."
Hello. I got a long stack trace. Which is a warning. It will not autoload anymore in Composer v2.0.

Filename and namespace don't matched. I think that it will be a problem after some period.

I'm using
[code]

`Deprecation Notice: Class League\Flysystem\FilesystemException located in ./vendor/league/flysystem/src/FilesystemException 2.php does not comply with psr-4 autoloading standard. It will n

[2020-05-28 10:27] simonbowen opened #1168 "Issues with recursively listing files with the FTP adapter"
https://github.com/thephpleague/flysystem/blob/7106f78428a344bc4f643c233a94e48795f10967/src/Adapter/Ftp.php#L495

When attempting to listContents recursively it wasn't working, I got to the bottom of it by setting recurseManually to true in my configuration. Is this expected behaviour? The condition above I would have expected to be an `||` instead of `&&`.

[2020-05-28 15:27] curtiscarlson opened #1169 "More detailed response? And rate limiting?"
### Question

Storing files to Digital Ocean Spaces, their Documentation says the following:

Applications should retry with exponential backoff on 503 Slow Down errors.

It is my understanding that the interface only returns a true/false response.  So there is no way to know if you received a 503 response?  Would it trigger a true or a false in this case?

Second question, DO imposes the followin

[2020-05-31 21:13] chapterjason commented on #518
@jfoliveira @frankdejonge Change of message is good, but still very confusing. I assume that the change https://github.com/thephpleague/flysystem-bundle/commit/c8e55b6a30792ee721d62847e08e76dcd74c3371 already set the services to lazy by default. The error still occurs in my case.

After debugging, I noticed that the function gets called with directory `/app/var/storage/default/cover` but the actua

[2020-06-01 16:28] valehasadli commented on #1167
@freekmurze could you check, please?

[2020-06-01 16:36] frankdejonge commented on #1167
@valehasadli how are you getting this exception? The package doesn't have the file the exception message describes. The file is located at https://github.com/thephpleague/flysystem/blob/1.x/src/FilesystemException.php

[2020-06-01 18:13] GrahamCampbell commented on #1167
The filename is actually `FilesystemException 2.php`. It looks like this was added manually by someone, and is not a bug in flysystem.

[2020-06-01 18:14] GrahamCampbell commented on #1167
If you delete your vendor directory and composer cache, and re-run, this definitely won't happen.

[2020-06-02 18:32] #1167 closed, assigned to nobody

[2020-06-12 07:39] Stadly opened #1172 "MimeType::detectByContent memory usage"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.0.69

#### Summary

`\League\Flysystem\Util\MimeType::detectByContent` uses [`finfo_buffer`](https://www.php.net/manual/en/function.finfo-buffer.php), which is an extreme [memory hog](https://bugs.php.net/bug.php?id=79263).

Check out these two scripts I've created to illustrate the problem:
- [Memory u

[2020-06-18 16:07] glensc commented on #1166
so this issue can be closed

[2020-06-18 16:12] #1166 closed, assigned to nobody

[2020-06-18 16:12] glensc opened #1174 "Ability to preserve timestamps"
Please add a possibility to set timestamps of files when:
- copying
- moving

...files.

and perhaps just `setTimestamp()` method so userspace code could invoke it on their own.

there's [`getTimestamp()`][1] but no accompanying `setTimestamp()` method. why? if the adapter doesn't support setting such property, it could just throw NotImplementedException...

[1]: https://flysystem.thephpleague.com

[2020-06-18 16:22] glensc commented on #1174
Found accidentally from [phpcr][1] plugin footnote, that copy has `$config` argument (added in https://github.com/thephpleague/flysystem/pull/936):

[1]: https://flysystem.thephpleague.com/v1/docs/adapter/phpcr/#indicate-specific-modification-timestamp-when-writing-content

[code]

but the extra argument is not even documented:
- https://flysystem.thephpleague.com/v1/docs/usage/filesystem-api/#cop

[2020-06-18 16:32] glensc commented on #1174
Unfortunately, target adapter I'm using (SftpAdapter) doesn't support the 'timestamp':
- https://github.com/thephpleague/flysystem-sftp/blob/1.0.22/src/SftpAdapter.php#L439

[2020-06-18 16:43] glensc commented on #1161
how about `$adapter->setEnableTimestampsOnUnixListings(true)`?

- https://github.com/thephpleague/flysystem/blob/1.0.69/src/Adapter/AbstractFtpAdapter.php#L326

and `$adapter` I believe is what `Storage::disk('ftp')` returns

[2020-06-18 16:45] glensc commented on #918
I also want timestamps: https://github.com/thephpleague/flysystem/issues/1174

[2020-06-18 16:47] frankdejonge commented on #1174
Filesystems don't support this, so we can't add this. Could you describe your use-case, perhaps I can help you figure it out without needing this.

[2020-06-18 16:56] glensc commented on #1174
@frankdejonge there's no fancy use case. I want to move files from one dir to another. I'm using MountManager with LocalAdapter and SftpAdapter.

[2020-06-18 16:59] glensc commented on #1174
This was partially addressed in the past:
- https://github.com/thephpleague/flysystem-phpcr/pull/8
- https://github.com/thephpleague/flysystem/pull/921
- https://github.com/thephpleague/flysystem/issues/920
- ...

but this did not end well, the suggestion was to use plugin, but as he wrote plugins still do not have appropriate access to needed properties, and plugins are deprecated in 2.0

and I p

[2020-06-18 17:45] michabbb commented on #1161
@glensc thank you very much, you gave me a good hint, so instead of

`Storage::disk('ftp')->listContents()`

i have to do now:

[code]
which is not very pretty, but working. auto-completion in my phpstorm is not working,
so I used PHPDoc.

so ignoring auto-completion of my IDE:

[code]
okay, I can live with that 😏

[2020-06-18 17:45] #1161 closed, assigned to nobody

[2020-06-28 05:18] jasperf commented on #1169
So did you ever find out about this @curtiscarlson ? Are there config options to limit requests, or perhaps combine requests or at least queue requests to avoid issues with Digital Ocean Spaces rate limiting built in?

**NB** Saw that Amazon [S3 is more generous ](https://aws.amazon.com/premiumsupport/knowledge-center/s3-request-limit-avoid-throttling/): _You can send 3,500 PUT/COPY/POST/DELETE an

[2020-06-28 07:01] jasperf opened #1178 "MultipartUpload"
### Question

How could we do MultipartUpload like is possible for Amazon S3 uploads? See https://docs.aws.amazon.com/AmazonS3/latest/dev/usingHLmpuPHP.html . This to upload files larger than 5MB or at least those large than 100MB. Can we do this with Flysystem as well?

Did read `fopen` will help with large file uploads https://laracasts.com/discuss/channels/laravel/how-to-handle-large-file-uploa

[2020-06-28 09:02] jasperf commented on #1178
I think I need to be at https://github.com/thephpleague/flysystem-aws-s3-v3 for this.

[2020-06-28 14:40] curtiscarlson commented on #1169
No, I did not. I've been focused on a different aspect of the project and can't remember what I did or how I got around it but my feeling is I either went a completely different direction or I still have this problem and simply decided to temporarily shelve it in order to stay productive.

[2020-06-28 14:44] frankdejonge commented on #1169
Hi all, this is not supported in the flysystem interface, however, you can work around this. If you implement the S3 client interface and wrap the actual S3 client with that implementation, you can intercept the exception and extract the information. It's one of the things you can do with the decorator pattern. In V2 we're handling exceptions a little nicer and will be exposing more details that w

[2020-06-28 14:47] curtiscarlson commented on #1169
@frankdejonge Can you explain in more detail what the workaround is?  And can you speak to whether a 503 would return true or false?

[2020-06-28 15:30] frankdejonge commented on #1169
The 503 would result in a `false` response.

I've created an example decorator which shows this pattern: https://gist.github.com/frankdejonge/c57f3d67852d730e44a371f4cc70cd20

You can use it like this:

[code]

[2020-07-01 17:07] Renrhaf opened #1179 "Missing 3D models mime type"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | master

#### Summary

The MimeType class is not able to deduce mimetype from 3D models files and associated textures.
Extensions of these files are : "glb", "gltf", "usdz", "fbx", "obj", etc
Maybe a way to extend/alter the list of extensions via events or something would be the right way ?

#### How to re

[2020-07-01 17:07] Renrhaf commented on #1179
Something similar done in https://github.com/thephpleague/flysystem/issues/593

[2020-07-01 17:08] GrahamCampbell commented on #1179
Fixed in 2.x. ;)

[2020-07-02 09:59] frankdejonge commented on #1179
Hi @Renrhaf an event based mechanism or something like that is not likely to be added in V1, in V2 there are a lot more mime-types added and the compositional aspects allow you to add your own when needed. I know that doesn't solve your problem straight away, but you can always send a PR to add the mime types.

[2020-07-02 13:44] Renrhaf commented on #1179
Hi and thanks @frankdejonge @GrahamCampbell, closing if fixed in the new version. I'll make use of it to fix my use case. 👍

[2020-07-02 13:44] #1179 closed, assigned to nobody

[2020-07-04 09:41] michaelKaefer opened #1180 "Method not deprecated"
I think the method `League\Flysystem\Filesystem::getAdapter()` should be marked as `@deprecated` in v1 since it is removed in v2. Or am I missing something? Is there an alternative we can use in v2 to get the adapter for a Filesystem in our client code?

[2020-07-04 10:01] GrahamCampbell commented on #1180
Since v2 is a complete rewrite, I don't think a such a deprecation policy applies?

[2020-07-04 10:11] michaelKaefer commented on #1180
@GrahamCampbell I saw this: https://github.com/thephpleague/flysystem/issues/1162. That's why it came to my mind. Plus: it would be really helpfull to know if/how we can get the adapter in v2.

[2020-07-04 10:19] frankdejonge commented on #1180
Hi @michaelKaefer,

When you want access to the adapter, you can use a DI container. Just like you would pass it the adapter, you can reference that internal service as a dependency.

[2020-07-04 10:20] frankdejonge commented on #1180
I'm ok with adding a deprecation since (although it's a rewrite) it's the next incarnation of the library and version 1 will eventually stop receiving support.

[2020-07-04 10:37] michaelKaefer commented on #1180
@frankdejonge Thank you a lot, I will do a PR. But to be sure: how can I access for example in Symfony the adapter for a Filesystem service with the ID `default.storage` with DI? I do not need just any adapter but the adapter of the filesystem `default.storage`. Is this possible with DI?

[2020-07-04 16:50] #1157 closed, assigned to nobody

[2020-07-06 23:35] Y0lk commented on #1162
So MountManager is being completely removed? Are there plans to replace it with something else?

[2020-07-20 14:39] piotr-cz commented on #995
I agree, this is confusing.
As there is one method to check for both files and directories at least docblock should say it.

[2020-07-26 01:42] robinsonjohn opened #1181 "Local adapter not updating permissions of file"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 1.0.62

#### Summary

When using the local adapter and a file already exists, changing the permissions has no effect.

#### How to reproduce

[code]

I have not been able to reproduce this issue with other adapters, as they all seem to update the visibility along with the file.

[2020-07-26 07:29] frankdejonge commented on #1181
Hi @bayfrontmedia, I've released 1.0.70 which fixes this.

[2020-07-26 07:29] #1181 closed, assigned to nobody

[2020-07-26 12:53] robinsonjohn commented on #1181
Fantastic! Because 1.0.70 is a pre-release, I had not noticed it existed.

Thank you.

[2020-07-26 13:07] frankdejonge commented on #1181
@bayfrontmedia just so I understand, what do you mean with pre-release? I fixed it after you posted the issue and tagged a release for this, which is the patch version 1.0.70

[2020-07-26 13:11] robinsonjohn commented on #1181
When using composer, if I have:

[code]

Version 1.0.62 is the latest version Composer will install.

[2020-07-26 13:14] GrahamCampbell commented on #1181
That is not the latest 1.x release, and moreover, there is no reason why composer wouldn't want to resolve the latest release (1.0.70), because both releases have the same "requirements".

[2020-07-26 13:16] GrahamCampbell commented on #1181
Ah, I think things are misleading because of GitHub's crappy new UI not showing the actual latest release, because it exists only as a tag, and not a "GitHub release":

<img width="169" alt="image" src="https://user-images.githubusercontent.com/2829600/88479909-8559b600-cf4a-11ea-94b3-1863194ba972.png">

[2020-07-27 05:42] frankdejonge commented on #1181
@GrahamCampbell TIL, thanks for the clarification

[2020-07-27 12:03] frankdejonge commented on #1168
Some FTP servers don't support the commands for good deep listings, so you have to do it by performing many operations instead of one. Since it's more performant to do one call, this option was introduced to allow people to force manual recursion.

[2020-07-27 12:04] frankdejonge commented on #1168
Btw, since your issue doesn't actually describe an issue. Feel free to open another issue if you still have questions.

[2020-07-27 12:04] #1168 closed, assigned to nobody

[2020-07-28 13:22] shirkerohit commented on #1162
What will be alternative to this? anyone?

[2020-07-28 14:36] frankdejonge commented on #1162
Either build it yourself or wait until I have time for it (it's very low on my list though).

[2020-07-29 06:17] shirkerohit commented on #1162
ok. thanks!

[2020-08-06 20:35] frankdejonge commented on #1180
@michaelKaefer sorry for the late reply. This should be possible but it might need some adjustments in the bundle, the adapter AND the filesystem it's wrapped in need to be registered as services, this might not be the case.

[2020-08-06 20:50] frankdejonge commented on #1178
Hi @jasperf, we use the `S3Client::upload` method which internally determines whether or not a multipart upload is needed, so this is handled by the underlying SDK, no need to worry about it from Flysystem's side. Besides that, using streams for large uploads is always recommended since it keeps memory usage low.

[2020-08-06 20:50] #1178 closed, assigned to nobody

[2020-08-08 13:20] #1180 closed, assigned to nobody

[2020-08-08 13:23] frankdejonge commented on #1174
It is not clear to me why you need to preserve the timestamp. The timestamp is always set as a result of an operation, it's not arbitrary metadata. As explained before, this is also not something that can be abstracted evenly across filesystems, so I'm closing this issue. Feel free to open up another issue with more context about why this functionality is needed. Although, I must say that conceptu

[2020-08-08 13:23] #1174 closed, assigned to nobody

[2020-08-08 13:25] frankdejonge commented on #1169
Given the alternative approach and the fact that more information is visible in V2, I'm closing this issue.

[2020-08-08 13:25] #1169 closed, assigned to nobody

[2020-08-08 15:56] michaelKaefer commented on #1180
@frankdejonge Thank you for your answer! I understand it like this: the bundle or the application needs to make all adapters available *and* also needs to know the connection between a filesystem and its corresponding adapter. If I understood correctly it feels like a bad workaround compared to the simple `$fs->getAdapter()`..

[2020-08-09 07:03] glensc commented on #1174
I [explained](https://github.com/thephpleague/flysystem/issues/1174#issuecomment-646171233) why I need to preserve timestamps. Why is that so difficult to understand that timestamps are essential metadata of a file? and why is not really your concern how is this library used, I might not be allowed to disclose anything more than I'm making the backup of files.

Implementation wise, the core should

[2020-08-09 07:15] frankdejonge commented on #1174
@glensc you can move files without preserving timestamps though. So there's nothing preventing you from doing it. So if there is an additional reason, you have not explained it. Why is it so difficult for you to understand that this is not a cross-filesystem thing? It doesn't belong in a cross-filesystem abstraction. Why you need this IS my concern because I'm the maintainer of this library, not s

[2020-08-09 08:54] frankdejonge commented on #1180
Hi @michaelKaefer, I understand your sentiment. It is certainly not the first time I've heard it. However, there are a couple of reasons I take this stance. First, it promotes a way of managing dependencies that goes into standard practices and principles, in this case, the dependency inversion principle. This means that Flysystem is now responsible for managing your dependencies. Secondly, since

[2020-08-09 08:59] frankdejonge commented on #1172
Hi @Stadly, I've addressed this in PR #1183. The MimeType utility is a static interface in V1 (in V2 it'll just be constructor arguments. So for 1.1, I've added a dependency on the recently extracted league/mime-type-detection package. This will allow you to configure your own mime-type detection strategy. By default, it'll use the same strategy as now, but you can implement your own (or use one o

[2020-08-09 09:10] glensc commented on #1174
@frankdejonge you are wrong, using mountmanager to move files timestamps are not preserved. I don't understand what information do you want from me. you have not given a reason why this can't be implemented, just said that plugins don't implement, but looks to me you just don't want to implement in plugins with no reason given. what argument do you need? I need to move files from location-a to loc

[2020-08-09 18:12] michaelKaefer commented on #1180
@frankdejonge Thank you for this detailed and well understandable answer!

[2020-08-09 19:41] frankdejonge commented on #1172
This is now released, so this issue is fixed.

[2020-08-09 19:41] #1172 closed, assigned to nobody

[2020-08-12 12:54] carestad opened #1184 "File mime type not identified"
### Bug Report

Files that previously were identified as `text/plain` now just returns `NULL`. I suspect this has something to do with the switch in 1.1.0 to use `leage/mime-type-detection`, as downgrading to 1.0.69 and 1.0.70 made the detection "work" again. Either way I did not expect an API break like that when upgrading from 1.0.69 to 1.1.0.

|    Q        |   A
|------------ | ------
| BC Bre

[2020-08-12 13:38] #1184 closed, assigned to nobody

[2020-08-12 13:38] frankdejonge commented on #1184
Hi, @carestad, can you check if this commit fixes it for you? https://github.com/thephpleague/flysystem/commit/86f553bcc5bb8155cb53b51cddcd80139fbc99e8 I saw the fallback to text/plain was missing there.

[2020-08-12 14:17] carestad commented on #1184
Applying the same fix locally seems to work! :+1: I am now seeing `text/plain` where I got `null`.

[2020-08-12 14:22] frankdejonge commented on #1184
@carestad Great! I'll tag a new version.

[2020-08-12 14:24] frankdejonge commented on #1184
Version 1.1.1 is tagged, what a great version number! Thank you for your report and for verifying the fix on your end.

[2020-08-12 14:29] carestad commented on #1184
Cheers for the very quick fix!

[2020-08-12 14:35] frankdejonge commented on #1184
Oh, I forgot to say: My compliments for creating the clearest ticket on this repo (in my recollection). Wish every ticket was like this 👍

[2020-08-14 11:41] Girgias opened #1186 "Dealing with possible resource to object conversion by PHP itself"
As this came up in https://github.com/php/php-src/pull/5987

The assertion being made in https://github.com/thephpleague/flysystem/blob/2.x/src/Filesystem.php#L141 is currently problematic for 2 reasons.

1. It only does a "dummy" resource check and therefore allows other resource, such as a mysqli resource.
2. As PHP tries to get rid of the legacy resource type, see https://github.com/php/php-tas

[2020-08-14 12:29] frankdejonge commented on #1186
Thanks for the input @Girgias, I'll address the first and wait for the situation to resolve regarding the second.

[2020-08-19 16:42] mravdel commented on #1139
@akoSalman did you find solution? I just hit into the same issue with the same medialibrary package

[2020-08-21 05:21] shirejoni opened #1187 "flysystem dosn't work with filename that has bracket"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 1.0.45

#### Summary

i don't know why but filesystem ftp doesn't response correct when filename has [ bracket ] in the name of file
see this code
it is laravel code that use  thephpleague/flysystem
[code]

Response For bot/LAIAL5878_VID_1535446403.mp3:
[code]

Response For bot/LAIAL6220_Akbari-1399.05.2

[2020-08-22 14:00] #1187 closed, assigned to nobody

[2020-08-23 09:51] frankdejonge commented on #1187
@shirejoni this is fixed in `1.1.3`.

[2020-08-26 06:11] moeinpaki opened #1188 "ftp_mkdir(): OOPS: malloc error"
### Question
Hi there,

I am getting this error on file upload `ftp_mkdir(): OOPS: malloc`, and I can't upload a base64 image on FTP server

[2020-08-26 06:15] frankdejonge commented on #1188
Hi @moeinpaki,

This is caused by FTP server misconfiguration. Not something we can do from Flysystem's side. There can be a variety of things causing this, selinux being one of them. I suggest you google that error along with your Linux distro and FTP server type for more clues.

In the future, when opening an issue. Please use the issue template and specify the information in the template.

[2020-08-26 06:15] #1188 closed, assigned to nobody

[2020-08-26 07:42] #1186 closed, assigned to nobody

[2020-08-28 16:17] FashionCStar opened #1189 ""ErrorException" mkdir(): No such file or directory"
### Bug Report
exception: "ErrorException"
file: "xxxxx\vendor\league\flysystem\src\Adapter\Local.php"
line: 368
message: "mkdir(): No such file or directory"

### This is my code
        $startSec = $this->convertToSec("00:".$request->start);
        $previewThumbName = $request->youtubeId . "-" . $startSec . "-" . rand() . ".png";
        FFMpeg::open("https://www.youtube.com/watch?v=" . $reques

[2020-08-28 16:29] frankdejonge commented on #1189
this is not enough information to fix the issue.

[2020-08-28 16:50] FashionCStar commented on #1189
Which information do you need to fix it ?
What should I share with you ?

[2020-09-06 14:23] frankdejonge commented on #1189
First of all, you removed the issue template. It is there for a reason. I have no way to reproduce your bug because the code you share has nothing to do with Flysystem. Try to put yourself in my shoes and think about how you would be able to uncover anything to solve this issue.

I'm closing this issue. If you still have the issue, feel free to open a new issue with more relevant information.

[2020-09-06 14:23] #1189 closed, assigned to nobody

[2020-09-07 08:34] vanthao03596 opened #1191 "How to download file from aws3"
### Question

How i can download file from aws3. I don't use any framework.
|    Q        |   A
|------------ | ------
| Version     | 1.0.62

[2020-09-07 09:33] frankdejonge commented on #1191
@vanthao03596 you can open a stream using `readStream` on the AWS filesystem, and write it using `writeStream` to the local filesystem. So you need to filesystems.

[2020-09-07 09:38] vanthao03596 commented on #1191
@frankdejonge I wil try it.
Thanks for helping me.

[2020-09-07 09:38] frankdejonge commented on #1191
👍

[2020-09-08 08:47] pc-magas opened #1193 "Enable proxy SOCKSv5 on SFTP uploads"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Scenario

As I explained to this stackoverflow issue: https://stackoverflow.com/q/63779043 sometimes sftp uploads need to be done via specific Ips for security reasons. (Eg. Tripadvisor STPF servers implement this feature) hence  automation scripts written in PHP and use leage Flysystem,  m

[2020-09-08 08:52] frankdejonge commented on #1193
Hi @pc-magas, I think this you should open a ticket for phpseclib. We don't manage the connection handling, we use that library underneath. I think there's already an open ticket: https://github.com/phpseclib/phpseclib/issues/1117

[2020-09-08 08:52] #1193 closed, assigned to nobody

[2020-09-09 10:07] yusrub opened #1194 "Pattern search for file in directory Through FTP Adapter"
Hi,
can we do a pattern search for File using FTP Adapter for method listContents()

[2020-09-09 10:08] frankdejonge commented on #1194
Unfortunately, pattern search is not possible in a cross-filesystem consistent way. If you want pattern search you should implement it without using Flysystem.

[2020-09-09 10:08] #1194 closed, assigned to nobody

[2020-09-09 10:21] yusrub commented on #1194
thanks, do you have any example which doing a pattern search in PHP?

[2020-09-09 12:07] shubaivan opened #1195 "rename function thrown exception about new path"
### Bug Report
I use Digital Ocean storage
I create file in storage and the try to rename, but faced with error. I was try ACL private and public but still faced with error. What it could be maybe some configuration issue ?

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | "1.x-dev"

#### Summary
Response from Digital Ocean

[code]

#### How to reproduce

execute rena

[2020-09-09 14:03] frankdejonge commented on #1194
@yusrub you could use array_filter in combination with preg_match. The V2 API is a bit more filter friendly, but it's not out yet (Soon™).

[2020-09-16 22:26] apapilov-sc opened #1199 "Processing a huge text file in laravel using Filesystem API"
I got a huge 500m file or even greater, i need to parse the text and insert data from the file into db.I know how to accomplish it using plain php (read line by line, or by small chunks).The question is: Is it possible to accomplish using laravel filesystem abstraction (laravel uses "thephpleague flysystem" library).Thanks!

|    Q        |   A
|------------ | ------
| Version     | x.y.z

[2020-09-24 11:42] GameplayJDK opened #1201 "Wrong check for configuration existence using array_key_exists()"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.0.46

#### Summary

I encountered this when using `league/flysystem` (1.0.46) with the available `league/flysystem-bundle` (1.5.0).

In my opinion the `get()` method of the `Config` should not use `array_key_exists()`, but `isset()` instead, to determine if the default value should be used.

[code]

The

[2020-09-24 14:00] abenerd opened #1202 "Update min PHP version to 7.4"
### Feature Request
Security support for `PHP 7.2` will end in December in two month I think for `flysystemV2` we should update to a newer minimal version of PHP, I propose updating to `PHP 7.4` skipping, the `7.3` release as `7.3`s active support will also end in two months in December.

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes

#### Scenario

#### Summar

[2020-09-24 15:05] GrahamCampbell commented on #1202
Dropping PHP 7.3 would prevent Laravel 9 from using Flysystem 2. It would have to wait until Laravel 10.

[2020-09-25 06:36] frankdejonge commented on #1202
This is not needed, I align PHP versions with the major frameworks. We'll make sure to update it more regularly, but making it more strict than the frameworks won't get us anywhere in terms of continued adoption.

[2020-09-25 06:36] #1202 closed, assigned to nobody

[2020-09-25 11:57] andrei-dascalu opened #1203 "Upgrading to v2 question regarding MountManager"
### Question

Hello,

Seeing how the v2 beta is progressing, we are planning an upgrade process. However, I found the guidelines a bit lacking in that for example we're using the MountManager to manage 2 filesystems (Azure Blob and local).  However, now the MountManager has a big deprecation warning and it will be removed.

However, the upgrade to v2 docs don't mention this bit at all. What will h

[2020-09-30 07:36] frankdejonge commented on #1203
Hi @andrei-dascalu,

There have been a small number of questions regarding the MountManager (3 across various platforms). Despite that small number, I'll see what I can do. Initially, it was more about reducing the maintenance on my part (less moving parts, less maintenance). I generally like interacting with two sources separately better, but there seems to be a niche need for it.

[2020-09-30 15:33] andrei-dascalu commented on #1203
Hi,

It would be great to be able to keep this bit. Otherwise the migration would be deeply painful (it's a pretty large application, which already uses an interface with an autowiring DI container). Splitting it would also beg the question as to what we can bind the implementations to (as there's a single interface we're interested in).

Thanks!

[2020-09-30 17:54] BusterNeece commented on #1203
+1 from me as a heavy user of the MountManager.

I am happy to contribute any time that is needed to help make sure MountManager is compatible with V2 as well.

[2020-09-30 17:58] BusterNeece opened #1204 "2.0 Question: Exception Naming Convention"
I'm looking at the 2.x branch and couldn't help but notice that exceptions in 2.x no longer have the `Exception` suffix, and also share the root namespace with other components, making it more difficult to traverse the library and less obvious what is an exception class and what isn't (unless your IDE highlights the file accordingly).

Is there a reason this change was made? I realize it's often r

[2020-09-30 19:11] frankdejonge commented on #1204
Hi, @SlvrEagle23. I prefer to group by concern rather than by type. I try to remove the type suffixes from exceptions because it forces me to write more descriptive names that relate to the intent of the performed action. So it is intentional, and I'm not looking to go back to the exception suffixes (or sub-namespacing). While the exception suffix more easily articulates the type, it conveys very

[2020-10-01 13:20] #1204 closed, assigned to nobody

[2020-10-01 13:23] frankdejonge commented on #1201
Hi, why are you using the null value? Can't you omit the value or use another default?

[2020-10-01 13:29] frankdejonge commented on #1199
You can use the readStream function, I believe Laravel exposes this as well on the Disk abstraction. For laravel question, in the future please open up an issue with that repository.

[2020-10-01 13:29] #1199 closed, assigned to nobody

[2020-10-01 13:30] frankdejonge commented on #1195
This is an error with DO, not solvable by me. Please open an error report with DigitalOcean.

[2020-10-01 13:30] #1195 closed, assigned to nobody

[2020-10-01 14:38] GameplayJDK commented on #1201
I used this with the bundle, where the default value is `null`, if not configured otherwise. See the linked issue for that matter.

Since I don't pass an explicit configuration array to [`createDir($dirname, array $config = [])`](https://github.com/thephpleague/flysystem/blob/1.x/src/Filesystem.php#L258), the call to [`prepareConfig()`](https://github.com/thephpleague/flysystem/blob/1.x/src/Filesy

[2020-10-04 02:19] as247 opened #1205 "We should has root dir"
$flysystem->has('');
$flysystem->has('.');
$flysystem->has('/');
$flysystem->has('\');

All return **false** and not pass to adapter to check

Eg: I have Local adapter which base dir is: /home/flysystem/root
then $flysystem->has('') should check for file_exists('/home/flysystem/root')

[2020-10-04 15:33] frankdejonge commented on #1205
Hi, that is a design flaw in V1 and is not fixable without a BC break. In V2 there is only `fileExists`.

[2020-10-04 15:33] #1205 closed, assigned to nobody

[2020-10-04 15:47] as247 commented on #1205
Can we use both V1 and V2 in same project? will they get conflict?

[2020-10-04 15:49] frankdejonge commented on #1205
@as247 it is the same package, so that will be a conflict. It's not possible to install two versions in one project.

[2020-10-10 21:12] frankdejonge commented on #1203
I've added back the mount manager: https://github.com/thephpleague/flysystem/blob/2.x/src/MountManager.php

[2020-10-10 21:12] #1203 closed, assigned to nobody

[2020-10-12 07:23] mahdyfo opened #1206 "ftp_rawlist(): php_connect_nonb() failed: Operation now in progress (115)"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 1.0.62
| PHP Version | 5.6, 7.0, 7.1, 7.2
| Framework     | Laravel 5.3

#### Summary

When I try to connect to ftp I get this error:

[code]

When I use a simple ftp script in pure PHP, it is OK and I can do everything I want with the same ftp. But with Filesystem, it has error.

[2020-10-12 15:11] MikeHopley opened #1207 "Avoid misleading FileNotFoundException messages"
### Feature Request

When a file is not found, the error message can be incorrect / misleading. This happens because the $path variable used in the error message is not the same as the $location that is checked in the adaptor, which adds a prefix. The prefix is not reflected in the error message.

This is very confusing. The error message should show the actual path that was checked, so that users

[2020-10-12 16:36] frankdejonge commented on #1207
This would force a breaking change because the responsibility for the file collision needs to be delegated to the adapter. So this cannot be part of V1. For V2 this mechanism is removed entirely since writes are deterministic there, meaning overwrite by default and failing causes exception at the adapter level.

Long story short, for v1 this is not possible, for v2 it is already done. RC's are goi

[2020-10-12 16:36] #1207 closed, assigned to nobody

[2020-10-12 16:59] MikeHopley commented on #1207
Thanks, good to know this excellent package continues to improve. =)

[2020-10-13 10:35] kwazaro commented on #668
It seems the question was about UPLOADING zip archive to remote server using sftp and UNZIP this file on REMOTE server. Is there any way to do this?

[2020-10-13 11:00] frankdejonge commented on #668
Not within Flysystem. It can work with zips, and it can work with FTP. What it cannot do is work with zips over FTP.

[2020-10-13 13:02] frankdejonge commented on #1206
Can you share the pure PHP script so I can check what scenario you're trying to handle?

[2020-10-13 14:09] mahdyfo commented on #1206
Code:
`dd(\Illuminate\Support\Facades\Storage::disk('ftp')->files());`

Config:
[code]

I get that error when I use the above code.

But when I use the below code, it works fine:
[code]
Result: Files are successfully listed.

I can also share the FTP credentials with you in private if you want.

[2020-10-14 10:58] tadasaa opened #1208 "Support PSR-7 StreamInterface"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Scenario

Files returned as `Psr\StreamInterface` should be supported for upload via specific adapters. Currently, all stream related methods in `League\Flysystem\Filesystem` class validate that streams are of basic php type `resource`, and StreamInterface is not supported.
The s3 adapter a

[2020-10-15 07:02] frankdejonge commented on #1208
Hi @tadasauciunas,

If you have a PSR stream instance, you can do the following:

[code]

For AWS it makes sense, since it's used by the transport mechanism transport mechanism it depends on directory. For Flysystem, HTTP concerns are not in scope so I stick with the basic types for streams (resources).

[2020-10-15 07:02] #1208 closed, assigned to nobody

[2020-10-15 07:26] tadasaa commented on #1208
Thanks, completely missed that method.

[2020-10-15 14:06] frankdejonge commented on #1208
👍 all good

[2020-10-16 14:09] spaantje opened #1210 "Problem with FTP connection from server"
### Question

Hi, i'm using the Storage/File system in Laravel to connect to an external FTP server.
This is using this package if i'm not mistaken.

But now i cannot connect to the external FTP server from the production server (hosted on Forge) but it's working locally.
The server in question is not under my control. And i already ask the party in question if they could check it on their end, bu

[2020-10-16 14:16] frankdejonge commented on #1210
Hi @spaantje,

Can you share any error messages or relevant logs that provide some information into what is happening? Are you using the same credentials as you're using locally? Is the FTP server you're talking to locally the same as production?

My guess is that, while it's both FTP, either the configuration, or the type of FTP server is different. Another thing that can cause listing entries to

[2020-10-16 16:38] spaantje commented on #1210
Hi @frankdejonge,

Sadly i don't have any error log because i don't get any errors (thats the weird thing) but i just get an "empty" response on production. If i can enable some more logging some way when doing a request i can provide those (is this possible)?

I'm using the same credentials to connect to the FTP server on local and production.
And i'm connecting to the same FTP server from produc

[2020-10-17 13:03] frankdejonge commented on #1210
Hi @spaantje,

Unfortunately, there is not a lot for me to go by. All the tests run on Linux, and those pass. What you could do is add some debugging statements in the vendor code so get some more insights. Flysystem does not provide internal logging. It has to be some server configuration but it's impossible for me to know what's causing this. Sorry.

[2020-10-17 18:13] spaantje commented on #1210
Hi @frankdejonge ,

Understandable, I will look into adding some debugging.
Any tips on where to start?
Maybe listDirectoryContents in League\Flysystem\Adapter\Ftp  ?

[2020-10-17 21:07] spaantje commented on #1210
It looks like it's failing on the ftp_rawlist command.

**Local:**
[code]

**Production:**
[code]

I have e-mailed the party which is hosting the FTP server to recheck their logs..
But if you have any idea's which i could check, please let me know.

[2020-10-17 21:56] spaantje commented on #1210
Ok. Another update.

When i add a firewall rule in forge to allow all access from ports 1024:65535 than it's working. (adding the IP to restrict access doesn't work for now.).

So it's looking like it's a firewall issue.

[2020-10-19 16:04] frankdejonge commented on #1210
@spaantje I hope you were able to resolve your issue. Any update on this? I think we can close the issue since it's a server configuration problem, not a Flysystem issue. Is that ok?

[2020-10-19 17:24] spaantje commented on #1210
@frankdejonge , Yes offcourse. Thanks for the help.

[2020-10-19 17:24] #1210 closed, assigned to nobody

[2020-10-20 05:38] ratnesh-gupta opened #1212 "Getting Error : Allowed memory size exhausted"
### Question

Larvel 6.x
PHP 7.3.X
flysystem-aws-s3-v3 1.0.25

I am getting below, not sure why am getting this. Trying in other environment its working fine.

**Unhandled error**
Symfony\Component\Debug\Exception\FatalErrorException: Allowed memory size of 536870912 bytes exhausted (tried to allocate 20480 bytes)
**Location**
vendor/league/flysystem/src/Util/ContentListingFormatter.php:54

Need u

[2020-10-20 19:53] frankdejonge commented on #1212
Hi, unfortunately this is not solvable in V1, and V2 already has this solved. You should increase the memory of your PHP configuration to prevent this error. The listing is too big and you're running out of memory.

[2020-10-21 07:05] ratnesh-gupta commented on #1212
Thanks @frankdejonge . Sure will try as per your suggestion.
Closing this Ticket for now.

[2020-10-21 07:05] #1212 closed, assigned to nobody

[2020-10-22 06:34] frankdejonge commented on #1206
@mahdyfo can you try to use rawlist instead of nlist? The output from that is required for flysystem, could be that the server doesn't play well with that command.

[2020-10-22 19:47] mackhankins opened #1215 "Version with working Symlinks?"
### Question
Is there a version that doesn't throw the not supported exception when a symlink is found?  I mean it was working at one point.

Laravel 5.8

[2020-10-26 01:06] mackhankins commented on #1215
Closing this..  You've made your position very clear :(  An opt-in system for local directory suggested in another issue sounds great.

[2020-10-26 01:06] #1215 closed, assigned to nobody

[2020-10-26 10:08] #1191 closed, assigned to nobody

[2020-10-26 18:05] Nek- commented on #296
@frankdejonge there's no more doc about it at all isn't it ^^' ?

[2020-10-28 09:19] Lctrs opened #1218 "ZIP Adapter"
### Question

Hi.

I have ported the ZIP Adapter to Flysystem V2. Tests run fine locally. I would like to open source it but I'm not sure how. There are 3 options available for me :

- Including it in this package
- Updating https://github.com/thephpleague/flysystem-ziparchive
- Make my own package

Which one do you prefer ? All options suit me.

[2020-10-28 09:52] frankdejonge commented on #1218
Hi! A PR for this would be much appreciated 👍 I can then make sure to get it hooked up in the regular release cycle.

[2020-10-28 09:53] frankdejonge commented on #1218
I publish subsplits from this repo, so it'll end up in the repo you linked to, but the maintenance can be done in this repository.

[2020-10-28 09:55] Lctrs commented on #1218
Thanks for the input ! PR will land later today.

[2020-10-30 21:28] Nyholm opened #1220 "AsyncAws adapter"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Summary

For the past few months I've been maintaining an adapter for AsyncAws S3. I've been following the development since beta 1. I notice that it is very similar to the AWS S3 adapter.

In a very humble request, should I add the AsyncAws S3 adapter under the Flysystem namespace?

[2020-10-31 19:53] frankdejonge commented on #1220
Hi @Nyholm,

That sounds like a good idea. What did you have in mind in terms of organization and collaboration?

[2020-11-02 09:00] Nyholm commented on #1220
I believe that I have a good knowledge of AWS API and both SDKs, I also know quite some implementation details of Flysystem.

I dont want to dump 500 lines of code + test for you to maintain. I would be glad to help out, specifically on the both AWS adapters.

[2020-11-03 07:54] frankdejonge commented on #1220
@Nyholm are we on a common slack channel perhaps? We can discuss some details.

[2020-11-05 18:31] #1218 closed, assigned to nobody

[2020-11-06 15:17] shiftedreality opened #1228 "Cached adapters cannot stat directory starting with .dot"
### Bug Report

Using any caching adapter with the directory, starting with a dot (.test, .example) does not work correctly.

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | 1.x

#### Summary

#### How to reproduce

I'm using AWS S3 but should be the same as other adapters.

1. Create directory, for example `.test`
2. Created cached adapter `new CachedAdapter($ada

[2020-11-06 15:28] #1228 closed, assigned to nobody

[2020-11-08 13:58] #1220 closed, assigned to nobody

[2020-11-09 14:41] martynball opened #1230 "Gitlab Adapter unable to read file with spaces."
### Bug Report

Attempting to read a file using the Gitlab Adapter, when encountering a file which contains spaces, the exact path:

[code]

This is how i'm reading the file:
[code]

### Error

[2020-11-09 20:43] frankdejonge commented on #1230
Hi @martynball,

I do not maintain the gitlab adapter. Please open an issue with the corresponding repository.

[2020-11-09 20:43] #1230 closed, assigned to nobody

[2020-11-16 18:15] gamersalpha opened #1232 "Optimisation function Copy move"
Hello there,
can u help me to optimise my move function please

and help to make a recursive function to copy all files and folder on it

This my function
can copy File to sourcesysteom to another sourcesystem :
but can't copy recursivly all folder, how do that ?

[code]

thanks

[2020-11-16 18:18] frankdejonge commented on #1232
@gamersalpha you can list the contents recursively and write all the files to the new location (directories are automatically created). Using `readStream` and `writeStream` to copy the contents for low memory usage.

[2020-11-16 18:53] gamersalpha commented on #1232
Hello thans, i follow what u says, but somethings is wrong on my code :

[code]

i edit my code, i think my problem is can"t get the new path on my recursive function ...
Edit again :  i found how to 1 level directory, now  need to found for many other under level dircectory

can u help a little please

[2020-11-17 04:20] #1206 closed, assigned to nobody

[2020-11-19 09:30] elvispdosreis opened #1233 "How to move folder ?"
### Question

I need to move a few hundred files to digital ocean but the process is very slow is there any function or some way to send entire folders

I'm using Space from Digital Ocean

[code]

[2020-11-19 17:09] gamersalpha commented on #1233
hé hé i got the same issue, move files with FLystem is very slow, u can do nothing

he works like that

[2020-11-21 16:57] frankdejonge commented on #1201
This should be fixed in the bundle.

[2020-11-21 16:57] #1201 closed, assigned to nobody

[2020-11-22 18:44] frankdejonge commented on #1233
@elvispdosreis unfortunately there is not, S3 is a linea (non-hierarchical) filesystem that does not allow for this.

[2020-11-22 18:44] #1233 closed, assigned to nobody

[2020-11-22 18:45] frankdejonge commented on #1232
This is not a free PHP support channel. Please try to get some help at StackOverflow or a slack group.

[2020-11-22 18:45] #1232 closed, assigned to nobody

[2020-11-25 05:06] eoghanobrien commented on #1203
Will you be removing the deprecation notice in 1.x?

https://github.com/thephpleague/flysystem/blob/2062a9460fc9bb9d05ce0b215176be378f29e372/src/MountManager.php#L24

[2020-12-01 07:09] hellogirls opened #1239 "Class 'League\Flysystem\Adapter\Local' not found {"exception":"[object]"
### Bug Report

Class 'League\Flysystem\Adapter\Local' not found {"exception":"[object]

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.y.z

#### Summary

There is no more the directory Adapter, So lead to the error "League\Flysystem\Adapter\Local" in lack of Adapter directory.

#### How to reproduce
So Adapter directory code is include  in other package?

[2020-12-01 07:21] frankdejonge commented on #1239
Hi @hellogirls,

For V2 the package structure was altered, the local adapter is now located at `League\Flysystem\Local\LocalFilesystemAdapter`.

For all the other options, view: https://flysystem.thephpleague.com/v2/docs/adapter/local/

[2020-12-01 07:22] #1239 closed, assigned to nobody

[2020-12-02 08:25] paritoshzom commented on #928
listContents( $directory , true);

The second parameter represents recursive - turn it false then it will only give contents of the current dir.

[2020-12-03 06:46] stccorp opened #1242 "First impressions of v2"
Hello,

I just wanted to write about upgrading from v1 to v2.  V1 worked out of the box,  as soon as I upgraded I got

 SSH_AUTH_SOCK errors and
 Uncaught League\Flysystem\PhpseclibV2\UnableToLoadPrivateKey: Unable to load private key.

I noticed that the example of SftpConnectionProvider  are missing parameters like

      string $privateKey
        string $passphrase

I could not get it to work

[2020-12-07 15:42] notflip commented on #557
Old thread but I'm wondering, since this will not be implemented, is it possible to use the FlySystem class to get underlying methods that AWS provides? Such as this deleteObjects in the example from @mjanda

[2020-12-07 17:04] frankdejonge commented on #557
@notflip you should use the SDK directly for this. Flysystem does not need to be in the middle of this, it only adds complexity in this library which is bad for the maintainability while not fulfilling a Flysystem capability or benefit the cross filesystem api

[2020-12-07 17:26] notflip commented on #557
Thanks for clarifying! I managed to get the underlying aws library using `getAdapter()->getClient()` and continue from there

[2020-12-07 17:27] frankdejonge commented on #557
@notflip I would advice not to use this method, it is not longer available in V2. You should use your DI container and declare your dependencies directly instead.

[2020-12-08 07:54] notflip commented on #557
@frankdejonge Thank you for clarifying!

[2020-12-09 17:01] wshafer opened #1243 "Missing some BC changes in the upgrate to version 2 docs"
### Bug Report
Congrats on the V2 release.  Looks a lot cleaner now.  Great job!

I did however want to report some missing topics in the [Upgrade to 2.0.0](https://flysystem.thephpleague.com/v2/docs/advanced/upgrade-to-2.0.0/) docs.

Adaptors constructors have changed.  No need to go into the details but a quick note that we'll need to update how we construct the adaptor would be nice.

Caching s

[2020-12-10 13:31] Lustmored commented on #1243
To glue a gap with cache storage I've created a custom adapter that is lighter on memory yet helpful when you need to access metadata frequently:

https://packagist.org/packages/lustmored/flysystem-v2-simple-cache-adapter

[2020-12-15 23:05] dantleech opened #1245 "First Impressions with V2"
Hey, first of all, version 2 looks really great!

I'm trying to [implement it](https://github.com/dantleech/maestro2/pull/3) on a project which may have more low-level requirements than are typical and noted the following:

- There seems not to be an API to determine if a single location is a file or a directory - only `listContents` provides the attribute classes with this info.
- `fileExists` in

[2020-12-16 14:00] samirmhsnv commented on #1206
Fixed by adding `'passive'=> false,` to config

[2020-12-18 21:40] frankdejonge commented on #1245
Hi @dantleech,

Thanks for providing your feedback. The directory existence was something that was impossible to get sorted out in a cross adapter way. Therefor I settled on only accounting for the thing that was cross-fs compatible, the file existance check. The `has` call in V1 had its own quicks. With all directories being implicitly created, the need for explicitly creating directories does no

[2020-12-18 21:48] frankdejonge commented on #1242
Hi @stccorp,

Thank you for your feedback. In my tests I go over a number of cases with the private key, these are all integration tests. Perhaps you could look at those for the setup. I don't have any other information to go by to help you further. I hope you'll be able to have more time to debug.

Since there's nothing in the issue I can fix, I'll close this. But feel free to comment when/if you

[2020-12-18 21:48] #1242 closed, assigned to nobody

[2020-12-18 22:01] frankdejonge commented on #1243
I've added this in the upgrade docs as notes. For more docs, feel free to open a PR 👍

[2020-12-18 22:01] #1243 closed, assigned to nobody

[2020-12-18 23:08] dantleech commented on #1245
It may be that this application isn't the best use case for Flysystem - it's a repository orchestration system (similar to Ansible) so may have some peculiar requirements:

- `->fileOrDirectoryExists()`: filtering out paths which do not exist (e.g. filtering which paths are passed to `git add`)
- `->isDirectory()` The application can say that `file` should exist at a given path, and that file curr

[2020-12-18 23:12] #1245 closed, assigned to nobody

[2020-12-28 16:53] wilcol opened #1248 "Sftp adapter and phpseclib"
Hi there!

First of all. Thank you so much for the efforts of creating and maintaining this module!

I recently switched from v1 to v2 and I'm using the SFTP adapter. The situation is as follows:

When I use `"league/flysystem-sftp": "^2.0"`, it installs both `"league/flysystem"` and `"league/flysystem-sftp"` since `"league/flysystem-sftp"` has a dependency on `"league/flysystem"`. Both package co

[2020-12-28 16:55] frankdejonge commented on #1248
Hi @wilcol,

I'm guessing I messed up a gitattributes export for this, since that class should not be shipped by default. I'll look into this.

[2020-12-28 16:56] wilcol commented on #1248
Great, thanks @frankdejonge

[2020-12-28 16:58] frankdejonge commented on #1248
@wilcol I messed up the casing ... sorry about that, I'll release a fix asap.

[2020-12-28 17:04] wilcol commented on #1248
Thanks for the swift response!

[2020-12-28 17:05] frankdejonge commented on #1248
@wilcol it's fixed now in `2.0.1`, when checking the artefact I found another (FTP vs Ftp) which is fixed in `2.0.2`. Thank you for reporting this 👍

[2020-12-28 17:05] #1248 closed, assigned to nobody

[2020-12-29 11:26] fisharebest opened #1249 "V2: Moving and Copying do not overwrite target location"
Not sure if this a documentation error or a bug.

According to https://flysystem.thephpleague.com/v2/docs/usage/filesystem-api/

The function `move()` can move both files and folders.
The term "target location" (as opposed to "target file") implies both files and folders.

However, the target is overwritten only when the source and destination are **both** files.  e.g.

[code]

If this is a docume

[2021-01-03 21:26] Nyholm commented on #1249
When testing this in bash, then `foo` will be moved inside `bar`. So Im not sure that I would expect `bar` to be overwritten as you say.

[2021-01-04 07:52] fisharebest commented on #1249
I expect it because the documentation says explicitly "… will always overwrite the target …".

So either the code or the documenation should be changed.

Then, if it is a documentation error, I need some way to manually delete the target first - which means I need to know whether the existing target is a file or a directory.

FYI - my use-case is an image library, where `photo.jpg` could either be

[2021-01-04 09:18] EvgenyBarinov opened #1250 "MountManager for v2"
Could you make MountManager more flexible for v2?
Proposed ways:
1. Convert private methods to protected to allow extending and modification
2. Optimize MountManager
- add public methods to
  -  mount (add) fileSystem
  - check filesystem exists by key

As I can see it was available in v1 but in v2 it was cut...

[2021-01-04 11:27] OskarStark commented on #1250
Could you please elaborate a bit on your use case? Thanks

[2021-01-04 11:58] EvgenyBarinov commented on #1250
I've need to prepare lib to build required fileSystems list by provided configuration (for Spiral framework)
At one point of view it will be more comfortable to build MountManager and add all required fileSystems one by one to existing MountManager.
From another point of view I can use it at initialization step with creating MountManager from builded fileSystems list.

I tend to think that first w

[2021-01-04 15:43] opengeek opened #1251 "How do you get the file name from an item in a directory listing?"
### Question

I am trying to get (or filter by) just the file name when iterating over a DirectoryListing, but there does not seem to be any way to get the file name without the full path. Am I missing something or do I have to `explode()` the path and `array_pop()` the file name from the path myself anytime I use a DirectoryListing?

[2021-01-11 13:32] andris-sevcenko opened #1255 "Fetching meta data in V2"
### Question

I'm in the process of converting our application of V1 to V2 and it seems that fetching metadata is now quite inefficient, if data items are fetched one by one - at a glance, it seems that for the AWS S3 adapter fetching date modified, filesize and mime-type would produce three requests.

I thought maybe it would be possible to just list exactly the needed file by specifying the path

[2021-01-11 15:05] JammingBen opened #1256 "Missing disconnect method for FTP connections in V2 (?)"
Is there a way to disconnect an open FTP connection? In V1 there was a [method](https://github.com/thephpleague/flysystem/blob/1.x/src/Adapter/Ftp.php#L236) for this purpose. Unfortunately, it seems to be removed completely... Also, as the connection property is private without any kind of setter/getter, I can't find a simple way to get through to it. Is there a proper workaround?

[2021-01-12 07:43] andris-sevcenko commented on #1255
After actually looking at other adapters, it makes more sense to me, since other storage methods might not have the capability of returning all that data at the same time, so fetching all the metadata would actually incur a penalty there.

I guess the best case in my scenario would be, for the storage methods that do support fetching all the metadata at the same time, to provide my own adapter cla

[2021-01-12 07:43] #1255 closed, assigned to nobody

[2021-01-13 06:14] EvgenyBarinov opened #1258 "Docs fix?"
In flysystem docs it was detected wrong adapter class for advanced usage.
Please check
- https://flysystem.thephpleague.com/v2/docs/adapter/aws-s3-v3/
`$adapter = new League\Flysystem\AwsS3V3\AwsS3V3Filesystem(...`
=>
`$adapter= new League\Flysystem\AwsS3V3\AwsS3V3Adapter(...`
- https://flysystem.thephpleague.com/v2/docs/adapter/async-aws-s3/
`$adapter = new League\Flysystem\AwsS3V3\AwsS3V3Filesys

[2021-01-13 13:20] idhamhafidz commented on #685
Ok. Inside the configuration file like this:

'ftp' => [
    'driver' => 'ftp',
    'host' => 'ftp.example.com',
    'username' => 'your-username',
    'password' => 'your-password',
   'passive' => 'false',
   'ignorePassiveAddress' => true,
   'port' => 21,
]

and it works.

[2021-01-15 12:50] EvgenyBarinov commented on #1251
+1

It will be very useful to be able to receive `fileName`

I suppose it should be in FileAttributes

[2021-01-21 17:07] stof opened #1261 "phpseclib3 for the sftp adapter"
### Question

Is there any plan to update `league/flysystem-sftp` to use phpseclib3 instead of phpseclib 2, so that it supports newer crypto algorithms ? See also https://github.com/thephpleague/flysystem-sftp/issues/111 and https://github.com/thephpleague/flysystem-sftp/issues/110 but I figured out that the 2.x branch of `league/flysystem-sftp` is actually a subtree split from here so I'm bringin

[2021-01-26 10:44] EvgenyBarinov commented on #1250
@OskarStark is it really required to keep all methods of MountManager with private access?
As I can see private in libs is not the best solution...

No developer can take into account any scenario of usage which can be actual for another developer.

[2021-01-26 11:04] EvgenyBarinov commented on #1250
One more example of usage.
When you are using some bootloaders and DI you need to pass MountManager in boot method as argument but your current implementation blocks this method by the reason init filesystems provided only via constructor - it is not applicable in this case. In this case I need some public method for init server

[2021-01-26 14:11] EvgenyBarinov commented on #1250
Basic example you can find here
https://github.com/thephpleague/flysystem/pull/1263

I am not sure what kind of problem with ftp tests...

[2021-01-27 23:48] GameplayJDK commented on #1201
The problem would still persist (kind of), when the visibility default is set to `null` manually or by an "explicit" configuration. As described in linked ticket, the default value to the yaml configuration class is/was `null`. When that is changed, the default is no longer `null`, so one is no longer forced to set a value on that, since the node is not explicitly required.

So the bundle side is

[2021-01-28 05:42] IonBazan commented on #1261
@stof We could use https://github.com/phpseclib/phpseclib2_compat to maintain compatibility with both.

[2021-01-29 14:52] sopptik opened #1264 "Unable to set root `/`"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.2

#### Summary

Unable to set root '/'

#### How to reproduce

Set root '/' and try to upload file to some storage e.g. "/home/user/upload". The first slash is removed and is unable to upload anything because the result path looks like "home/user/upload"

[2021-01-30 19:13] vertisan opened #1266 "Get available filesystems"
### Question
Hi,
I'm creating an application which supports a multiple filesystems but now I want to get them all and return it.  How can I do this?

Flysystem v1.1.3

[2021-01-30 20:38] aliakbarazizi opened #1267 "Use php tmpfile instead of php://temp in ftp"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Scenario / Use-case

If I want to copy file from ftp to local, I have to call readStream (instead of read because of the memory usage)
In this case I can use other function like `stream_copy_to_stream` to copy stream to local file.
But in somecase It maybe needed to pass `path` of the file

[2021-01-31 04:49] lhridley opened #1268 "V2 AWS S3 Advanced Documentation incorrect"
### Bug Report
#### Summary

https://flysystem.thephpleague.com/v2/docs/adapter/aws-s3-v3/

The Advanced Usage documentation on the above page is incorrect.

The Adapter should be an instance of League\Flysystem\AwsS3V3\AwsS3V3Adapter, not League\Flysystem\AwsS3V3\AwsS3V3Filesystem.

I looked for a repo that generates the documentation and did not see one, or I would have submitted a patch to fix.

[2021-01-31 04:51] #1268 closed, assigned to nobody

[2021-02-01 22:04] Nyholm commented on #1251
How about using `basename()`?

https://www.php.net/manual/en/function.basename.php

[2021-02-01 22:11] Nyholm commented on #1258
Thank you. I've added https://github.com/thephpleague/flysystem/pull/1269.

I dont find any issue on https://flysystem.thephpleague.com/v2/docs/adapter/async-aws-s3/, could you help me?

[2021-02-01 22:12] Nyholm commented on #1261
There is a PR starting to add a PhpseclibV3 for Flysystem 2

https://github.com/thephpleague/flysystem/pull/1257

[2021-02-01 22:13] Nyholm commented on #1264
Thank you for this issue and PR.

What if you used prefix `''`?

[2021-02-01 22:15] Nyholm commented on #1266
Hey.

Maybe the class `MountManager` is something that you are interested in?

[2021-02-01 22:21] Nyholm commented on #1267
Hey. Thank you for this issue.

Using `php://temp` is great for performance. For small files it uses memory and for large files it automatically switches to a file.

The `readStream` method will return a stream. The contract will not specify if that stream is stored in memory or on file. I think `stream_get_meta_data($temp)['uri']` will return a good value if the file is larger than a few megabyte

[2021-02-01 22:38] aliakbarazizi commented on #1267
The problem is this is not true, it return php://temp all the time
So in my case, creating two stream and use temporary file has bad performance

[2021-02-01 22:42] Nyholm commented on #1267
Please see php://temp in the manual: https://www.php.net/manual/en/wrappers.php.php

[2021-02-01 22:43] aliakbarazizi commented on #1267
@Nyholm Can we add switch in constructor for that? Like a callback function to create resource

I read the full documents, there isn't anyway to get file path

[2021-02-01 22:56] aliakbarazizi commented on #1267
I can't even override the `readStream` because the `prefixer` and `connectionOptions;` is private.
So if its not possible to change this behavior can we at least make this fields protected?

[2021-02-01 22:57] vertisan commented on #1266
Hey, I have tried. `$filesystems` is protected so I have extended it by my class but when I tried to get it's content, always I have got an empty array, I don't know why.

[2021-02-01 23:13] Nyholm commented on #1267
I really really don't see the point. This is all because you "sometimes" have to copy a stream to a file.

I'm not sure if you making the argument that you want to do this because it is convenient for you or if it is because of performance.

I can only assume it is because you think it is less performant, but I'm not sure that is true..

[2021-02-01 23:16] aliakbarazizi commented on #1267
I agree with you, But all fields in the library are private, So if I want to override some method I can't.

You are right, it's for me and not about performance. Can we change `private` properties to `protected`?

[2021-02-01 23:27] aliakbarazizi commented on #1267
I'm not talking about performance, but I think this case is not happened "sometimes"

As you know the FTP driver lack reading to local file ( not just temp file )
(Currently, the best way to do this is to open another stream and copy from one stream to other)

This isn't sometimes. right now the `readStream` is good only for `stream` usage, for example, if you want to use stream to show it to the

[2021-02-01 23:36] Nyholm commented on #1267
¯\_(ツ)_/¯

You should use compensation over inheritance.

A generic library cannot assume that it can write to the file system.

Please create a small script that shows how much performance benefit we are talking about.

[2021-02-01 23:52] aliakbarazizi commented on #1267
What is compensation? are you mean composition?

As you say you do it anyway, If you want to follow this rule read you should use `php://memory` instead of `php://temp`,
For large files ( default more than 2MB ) this library breaks this rule.

[code]

We are talking about the performance of the coping from one file ( assume the `php://temp` use file since the file is huge ) to another.

So for eac

[2021-02-02 00:14] Nyholm commented on #1267
Yes. I blame my phone's autocorrect.

That is for php to decide. Not this library.

Please show the actual performance. Are we talking about parts of a millisecond?

[2021-02-02 06:41] Eugentis commented on #1258
@Nyholm As I can see it was fixed [here](https://github.com/thephpleague/flysystem/commit/6bfa0600111d5557a83d1f2d8399cf2d10ebd487)

Thanks!

[2021-02-02 07:21] sopptik commented on #1264
It' the same now. If you use '' or '/' the result is '' because of `rtrim`. I need the '/' as a root because the root is used as prefix for the path. But the  PathPrefixer is used here https://github.com/thephpleague/flysystem-sftp/blob/dcd572ecd536d863498671dab18c5014ac26905f/SftpAdapter.php#L57 . Path is cleaned on the left side and root is empty string. The result is 'xxx/example.txt' but shoul

[2021-02-02 07:44] Eugentis commented on #1266
`$filesystem` property is private and can't be received from your class

[2021-02-02 07:47] vertisan commented on #1266
In v1 is `protected`.

wt., 2 lut 2021, 08:44 użytkownik Evgeniy <notifications@github.com>
napisał:

[2021-02-02 07:52] Eugentis commented on #1251
does it works for aws-files?

[2021-02-02 08:19] Nyholm commented on #1267
Im at a computer now. I ran this script:

[code]

It produced the following output
[code]

So changing away from `php://temp` is worse for performance and moving the a large file is not really bad.

I vote for closing this issue.

[2021-02-02 08:53] Nyholm commented on #1251
It works for all strings looking like a file path

[2021-02-02 17:55] #1258 closed, assigned to nobody

[2021-02-02 18:31] #1264 closed, assigned to nobody

[2021-02-04 04:18] aliakbarazizi commented on #1267
I'm back too,

You didn't even mention my case in your test.
I'm talking about copying file compare. I add my case test below

If you used `tmpfile` for the third case, the result of the `Copy big file x 100 times to tmpfile took` would be 0, since the file already exists, and you can just rename it, instead of copying. that's why I say, we are talking about copying file performance. Of course, if

[2021-02-04 07:38] Nyholm commented on #1267
Making it configurable wont improve the library, it will be more complicated.

To always using `tmpfile()` as you originally suggested will make it some milliseconds faster for the case where you have big files and do need the path. But it will make it slower for every other scenario.

Using `tmpflile()` will make the library assume that you are on a writable filesystem. Using `php://temp` leaves

[2021-02-04 08:50] aliakbarazizi commented on #1267
Wow, I don't know how to prove copying file is not millisecond!
I can't see anyway to tell you copying is very much slower (not millisecond) than moving! Wow
 I guess best thing is closing issue.
Tnx for your time

[2021-02-04 08:50] #1267 closed, assigned to nobody

[2021-02-05 13:24] TOTOleHero opened #1271 "Where can i find the CMIS flysystem adapter ?"
### Question

Hello,

Where can i find the adapter for CMIS : https://en.wikipedia.org/wiki/Content_Management_Interoperability_Services

wich follow the specifications : http://docs.oasis-open.org/cmis/CMIS/v1.0/cmis-spec-v1.0.html

Thank's you

[2021-02-05 13:45] frankdejonge commented on #1271
Hi @TOTOleHero, that adapter does not exist.

[2021-02-06 12:44] Eugentis commented on #1266
Yes, I've missed used version when replied. By this reason I've deleted the comment)

[2021-02-06 12:46] Eugentis commented on #1266
@vertisan
Nobody can help you without details)

Could you provide some code parts?
At least how you are mounting filesystems and how you've tried to receive these filesystems?

[2021-02-06 12:51] Eugentis commented on #1250
I've created custom implementation like MountManager
Please close the issue

[2021-02-06 17:16] vertisan commented on #1266
Code is very simple:
**FsController**
[code]
**CustomMountManager**
[code]
When I use my custom class, I'm getting an empty array without workspaces.  When I'll try to get a single via `$this->mountManager->getFilesystem('default_filesystem')` it's still not working but, when I'll use a `League\Flysystem\MountManager` I can get a single filesystem without problems.

[2021-02-06 17:28] vertisan commented on #1266
When we try like this:
[code]
It's working but it's a really ugly solution.

[2021-02-07 15:46] Eugentis commented on #1266
@vertisan where are you trying to mount systems?
As I can see there are no mounting any filesystem for CustomMountManager

Do you have some mounting in constructor or it prepared by some bootloader?

[2021-02-07 15:53] vertisan commented on #1266
I'm using https://github.com/1up-lab/OneupFlysystemBundle for it.

[2021-02-07 17:04] #1256 closed, assigned to nobody

[2021-02-08 05:05] Eugentis commented on #1266
@vertisan If I am correct (express analysis) mounting will be made for alias `oneup_flysystem.mount_manager`. Did you make mapping for this alias to your custom manager?
https://github.com/1up-lab/OneupFlysystemBundle/blob/master/DependencyInjection/Compiler/FilesystemPass.php

[2021-02-08 23:16] vertisan commented on #1266
I forgot about this!  Easier was to extend service by `parent`:
[code]
Thanks for your help!
btw. Why we cannot get all available filesystems out-of-box?

[2021-02-09 21:11] #1271 closed, assigned to nobody

[2021-02-09 21:12] frankdejonge commented on #1266
Hi, I'm closing this issue, but feel free to keep using it to chat 👍

[2021-02-09 21:12] #1266 closed, assigned to nobody

[2021-02-09 21:14] frankdejonge commented on #1251
In V2 I've not chosen to pre-compute these values because they are often part of a rename method that can just as well incorporate functions like basename as indicated in the comments (this is the correct approach). I'll close this one, if there's another issue do feel free to comment and we can reopen.

[2021-02-09 21:14] #1251 closed, assigned to nobody

[2021-02-09 21:15] #1250 closed, assigned to nobody

[2021-02-10 16:28] kohlerdominik opened #1274 "V1: ftp commands take longer with each call"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.x.dev

#### Summary

Every time a ftp command is called (for example read(), write(), getTimestamp()), it takes longer for the call to finish than for the previous one.

#### Details
I noticed this very strange bug when processing multiple files in a directory. For each file I do a `getTimestamp()` firs

[2021-02-12 12:57] Nyholm commented on #1274
Thank you for a good bug report. Why do you think this is happening?

What does it say when you profile the test script with Blackfire?

[2021-02-12 20:02] frankdejonge commented on #1274
@kohlerdominik could you provide a little bit more information about what kind of FTP server you're interacting with, how big the files are and how you've configured your connection? I've got a docker based setup locally with your example but my responses do not show the same picture as your case does.

[code]

[2021-02-12 23:22] kohlerdominik commented on #1274
Hi @frankdejonge

Yea, that's what I would like to see.
Can you run your setup against the FTP server I used for testing, please? It's from a popular Hosting Provider here in Switzerland, so I think the server setup should be "best practice". I'll send you the credentials by mail just now to info at frankdejonge.

- Kind of ftp server: "Pure-FTPd [privsep] [TLS]" (from the welcome message)
- How I

[2021-02-14 06:58] VeryStrongFingers commented on #1172
FYI it looks like there might be another (relevant, but unrelated?) issue resulting in the same memory eating outcome.
tl;dr: there is/was a bug in PHP core

**References**
    https://bugs.php.net/bug.php?id=78987
    https://bugs.astron.com/view.php?id=234
    https://bugs.php.net/bug.php?id=79263

[2021-02-18 17:37] Lctrs opened #1278 "[FTP] Inconsistencies of the option for manual recursion in FtpConnectionOptions"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.4

#### Summary

In the constructor of [FtpConnectionOptions](https://github.com/thephpleague/flysystem/blob/2.0.4/src/Ftp/FtpConnectionOptions.php#L81), the default value for `$recurseManually` is false, but in [the static factory `FtpConnectionOptions::fromArray()`](https://github.com/thephpleague/f

[2021-02-18 19:57] frankdejonge commented on #1274
@kohlerdominik the regression originates in the ftp_chdir function, this function is used in the `has` call which is used to assert the file exists before reading it. V2 just tries to read it, but V1 has different heuristics. You can remove the performance regression by disabling asserts (a config setting on the Filesystem: https://flysystem.thephpleague.com/v1/docs/advanced/performance/).

Thanks

[2021-02-19 12:58] kohlerdominik commented on #1274
@frankdejonge just tested it in the real application, and your suggestion works like a charm. Thanks a lot!

It's interessting, though, that it's this increasing duration for each loop.

However, for me it's fine to go with `'disable_asserts' => true,`. And Flysystem V2 surely brings some general improvements anyways, so I will be happy to use it once it's available.

[2021-02-19 12:58] #1274 closed, assigned to nobody

[2021-02-25 22:59] peterkimga opened #1279 "Race condition"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 1.0.0

#### Summary

Hi

I use your package as a part of this implementation:

https://github.com/googleapis/google-api-php-client#caching

I got 2 problems with this.

1) My application makes 2 calls at the same time and I got error:

[code]
So the first request is deleting the file before it got the co

[2021-02-26 08:07] frankdejonge commented on #1279
Hi, Flysystem does not prevent race conditions. The reason for this is that in distributed or scalable setups there's no sane default without that doesn't rely on non-filesystem locks.

[2021-02-26 10:50] peterkimga commented on #1279
I can see that it does not prevent this, I would not have an error if it did. But what is the solution for questions 1 and 2 then? How to set it up to use expiration header at liest cause I sorted out the problem with 500 error but at least I want to limit it as much as I can. Have it once per 24h not every 2h cause the cache is not using headers :|

Thanks :) Peter

[2021-02-26 14:18] frankdejonge commented on #1279
@peterkimga I would use something like Redis for this or decorate the cache adapter with locking.

[2021-02-26 14:19] frankdejonge commented on #1279
Correct me if I'm wrong, the second question is about the use of the other library, not really anything to do with Flysystem itself.

[2021-02-26 14:20] peterkimga commented on #1279
Actually no. I would like to know if there is an extra configuration to it.

[2021-02-26 14:23] peterkimga commented on #1279
Is there a config saying "use headers to determine when it expires = true".

I'm not too good at this and I was actually counting on code examples rather what you use because it's not telling me much as well. I was counting on the fact that you will know what to add to that code to make it work better or what other package of league to use and how to do what it should do.

Because all what you jus

[2021-02-26 14:27] peterkimga commented on #1279
I just need to know how to modify that code:

[code]

To use the expiry date from the headers of that file:

https://www.googleapis.com/oauth2/v3/certs

and do not create a new cache file until this one is still valid. It sounds like it should be like every 24h.

Not like now, with the above code, every 2h. Cause I got a bad situation with the race condition, 12 times per day vs 1 time per day.

[2021-02-26 14:33] frankdejonge commented on #1279
@peterkimga flysystem doesn't set any headers. You're asking the wrong open source project. I don't maintain the cache or the Google SDK.

[2021-02-26 14:35] peterkimga commented on #1279
But do you have one at the league that will handle this? League is storing and creating a cache file as I understand it?

[2021-02-26 14:40] frankdejonge commented on #1279
@peterkimga there's to my knowledge no league package that does this, sorry. I really think you need to file an issue with the Google SDK.

[2021-03-01 08:20] #1279 closed, assigned to nobody

[2021-03-08 13:17] reppair commented on #521
I could use this too (or some advise), I am trying to actually figure out if this type of check is done after downloading a large file from S3 or after uploading one to S3. Should I implement this type of check manually to confirm that the downloaded file is the same as the one on S3? Also for uploading I see I can forward my own metadata as explained [here](https://stackoverflow.com/a/37679830/71

[2021-03-22 09:46] papppeter commented on #521
hi @reppair
i did found a workaround, but i think it is not really the best solution:
if you check the code below. you can see FileAttributes, which holds information aws s3 ETAG -> which is a file hash

FilesystemReader::listContents
[code]

there would be a great need for a md5 checksum!

[2021-03-22 09:54] papppeter opened #1283 "md5 checksum"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes

#### Scenario / Use-case

we store images on aws s3.
we have a resize cache locally
i need to decide resource friendly my file is changed on aws s3 or not.

#### Summary

getChecksum($path)
on aws s3 we could use ETAG
on local file system md5_file

if a filesystem does not support md5 then crea

[2021-03-22 10:28] reppair commented on #521
The Etag is easy to get, the problem is that it is not always the `md5` hash of the file, if it is multipart upload, then it is a `md5` of the concatenated `md5` hashes of each part.

[2021-03-22 13:22] papppeter commented on #521
@reppair
thanks for mentioning. I just encountered this problem.

my quick and maybe dirty workaround is for now:
md5(fileSize + lastModified + basename)

i think most of the time it should work.

[2021-03-23 20:02] bytehead opened #1284 "Link to Google Cloud Storage documentation fails"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.x

#### Summary

The link does not work: https://github.com/thephpleague/flysystem/blob/2.x/src/GoogleCloudStorage/README.md#L7

[2021-03-28 17:33] BusterNeece opened #1285 "Request (2.x): Make private properties/methods protected instead."
I've only just now had a chance to evaluate moving to Flysystem 2.x for my application, and I'm noticing that in Flysystem 2.x, a lot of the methods and properties that were previously protected in 1.x are now private, preventing any descendent classes from using them at all.

In our application, we extend both `Filesystem` and `MountManager` to add additional functionality that suits our applicat

[2021-03-28 19:34] frankdejonge commented on #1285
Hi @SlvrEagle23,

The path prefixing has been extracted into a class you can use yourself as well (`League\Flysystem\PathPrefixer`). The adapter is something you construct and supply to the Filesystem instance, so you might as well pass it to something else that needs it too.In regards to motivation, my use of private has very little to do with following "the new hotness". It has everything to do

[2021-03-28 19:36] #1285 closed, assigned to nobody

[2021-03-28 20:58] Rikijs opened #1286 "Make method mountFilesystem public anew"
### Feature Request

| Q | A | Comment
| ------ | ------ | ------
| New Feature | yes for v2 | exposed feature of v1 library
| BC Break | probably not | since at the moment it is not accessible from users' code

#### Scenario / Use-case

`mountFilesystem()` should be public method as in v1 version of FlySystem.
It allows for name keys for different filesystems which is useful.

#### Usage example

[2021-03-29 12:15] Rikijs commented on #1286
Ping @frankdejonge .
Please consider making `$mountManager->mountFilesystem()` public.

[2021-03-29 19:36] BusterNeece opened #1287 "Flysystem V2 Metadata Calls Hammer Remote APIs"
**Summary:** In Flysystem v1, there was a `getMetadata` API call that could be made if you needed multiple aspects of a file/directory's metadata.

This was removed in Flysystem v2 and instead replaced by individual calls for metadata like `fileSize` and `lastModified`.

This has two significant impacts:

 - With many remote adapters (Dropbox, S3, etc)., _each_ of these function calls triggers a s

[2021-03-30 07:43] frankdejonge commented on #1286
@Rikijs what's the use-case that requires you to dynamically register filesystems? Btw, pinging after 15 hours is just rude. It's an open source project, what do you expect?

[2021-03-30 10:24] Rikijs commented on #1286
I am sorry about the ping. :(
I regret it and apologize.

One use case is - previously written (for FlySystem v1) code would work with minimal modification.

There are 3 base paths in my application.
For stored files, for deleted files and for shared files.
All 3 are working with local filesystem.
There is file traffic between those 3 nodes.
Full paths are constructed dynamically.
Does it count as

[2021-03-30 20:43] alekitto opened #1288 "How to concat multiple files?"
### Question

Hi and thanks for your work on this library.
I'm currently trying to find a way to concatenate multiple files, reading from a filesystem and directly writing to another (or maybe the same filesystem), but I cannot figure out how to do it.

`writeStream` seems to accept only a string or a resource and closes the output file after the write operation is finished.
Fundamentally, I'm try

[2021-03-30 20:55] frankdejonge commented on #1288
This should work:

[code]

[2021-03-30 20:58] jupitern commented on #1288
Hi,
I use a temp file concatenate in memory and then copy it to the destination
sample code example:
[code]

[2021-03-30 20:59] alekitto commented on #1288
I thought about a solution like this, but the problem is that the output file could be very large and can possibly finish the available memory I have in the container.

Additionally, the local file system is not guaranteed to be writable (it is read-only in some cases), so the `tmpfile` function cannot be used.

[2021-03-30 21:02] frankdejonge commented on #1288
@alekitto it'll have to be one of the two or you'll be out of luck. Then either the filesystem you're writing to needs to support this, I do not know of any of them which have this functionality natively.

[2021-03-30 21:06] alekitto commented on #1288
I can do it with the native S3 client, implementing a custom stream or using the stream wrapper to keep the handle opened between the operations and calling `stream_copy_to_stream` from the source files.

I'm trying to do the same thing with this library because is a great abstraction onto the filesystems.

[2021-03-30 21:07] frankdejonge commented on #1288
@alekitto have you tried using a stream wrapper with Flysystem to achieve the same?

[2021-03-30 21:10] alekitto commented on #1288
No, I probably missed it. Can I found it inside the library? Or I need a third-party package?

[2021-03-31 14:11] cgsmith opened #1289 "ftp_fput(): Access Denied - Failing in v2 - Worked in v1 with put()"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes (from v1 though)
| Version     | 2.0.4 for `flysystem` and `flysystem-ftp`

#### Summary

With version 1 the request worked but with v2 it is failing with the `write()` command. I was using `put()` before. FTP guys are saying the usual "everyone else's machine is working fine". Which is okay I guess. I just responded wi

[2021-03-31 14:18] frankdejonge commented on #1289
@cgsmith do you know what type of FTP server it is? Have you checked the passive mode configuration options? Why is the `$outboundPath` not part of the V2 code? Can you share (apart from the credentials) all the configuration options you've used with V1?

[2021-03-31 14:26] cgsmith commented on #1289
@frankdejonge I will ask the server guys what version and server they are using. Things are working in Filezilla. I have the debug output below. `$outboundPath` was just for storing a local copy of the file being uploaded to the FTP server.

No credentials changed for config options. Timeout was removed... but i think the default is 10.

[code]

[code]

[2021-03-31 15:25] stoynov opened #1290 "Bad result when use fileExists method in v2 for directories"
### Bug Report

When using this method `fileExist` to check if the directory exists the result of the method is false. The analogous method from version 1 is `has`.

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.*

#### Summary
I have a problem with this method `fileExist` in version 2. For some reason, the method checks `is_file` instead `file_exists`.
Is there

[2021-04-01 15:23] cgsmith commented on #1289
Hey @frankdejonge - I tried with the `ftp_fput()` command as well in plain PHP but it did not work. Same Access Denied error. I tried with ASCII and BINARY.

I then tried via FTP on the command line. It posted successfully. Ignore the wrong local directory errors I had when trying to remember FTP commands.

One thing that I thought of is this is the only insecure FTP server I connect to. Also usin

[2021-04-01 15:47] cgsmith commented on #1289
@frankdejonge Scratch that. I **am** able to get it to work using the native `ftp_fput` command. Here is how:

#### Working
[code]

#### Not working
[code]

[2021-04-01 23:31] alekitto commented on #1288
I made a small POC of my idea for streams: https://github.com/alekitto/flysystem/commit/cca57afca47be9adf2fedbb926f7fe115821f0bf

I tested it on local fs and s3 and made it work, but it needs more work obviously.

[2021-04-02 09:04] frankdejonge commented on #1290
Hi, this was a deliberate action, since it wouldn't work on my filesystem implementations and gave very inconsistent results. Could you explain the case you're working on so I might provide you with an alternative angle?

[2021-04-02 09:05] frankdejonge commented on #1289
@cgsmith have you tried setting the root to `''`?

[2021-04-02 11:13] aalinia opened #1291 "General S3 Server"
### Question

Can it be used for other S3 servers? (Say we have an in-house S3 server)

[2021-04-02 11:15] frankdejonge commented on #1291
Yes.

[2021-04-02 11:15] #1291 closed, assigned to nobody

[2021-04-02 15:03] aalinia commented on #1291
Great! but how? Could you provide me with the doc link?

[2021-04-02 15:06] frankdejonge commented on #1291
Please use the AWS SDK docs to figure that out.

[2021-04-02 15:17] cgsmith commented on #1289
@frankdejonge I tried that but it tries to chdir on FtpAdapter.php:121

[code]

[2021-04-03 10:58] PandCar commented on #1287
Also faced this problem!

It is probably possible to cache all the metadata immediately after the S3 GetObject call and implement the getLastMetadata () method that would work separately from the main functionality.

This, in turn, would reduce the retrieval of file and file data to a single request.

In the case of S3, this would lead to a minimum of overhead.

[2021-04-03 18:05] frankdejonge commented on #1287
^ regarding this. From what I see you've opened [3 issues](https://github.com/thephpleague/flysystem/issues?q=is%3Aissue+author%3ASlvrEagle23). I've supplied detailed reasons, and even concrete alternatives, to which you haven't replied. So perhaps get off your high horse. The "I am not alone argument" is nice, but for me it's not about "many" it's about what percentage of users faces what, and so

[2021-04-04 18:31] BusterNeece commented on #1287
The vast majority of my original post here outlines a very specific problem that is introduced by V2 of how Flysystem internally handles metadata, and documents methods to fix it, and was summarily ignored in the response. My tone is one of concern from previous experience, but not one of vulgarity, nor of inexperience as a developer, nor of any intention beyond improving the experience for all us

[2021-04-05 14:58] williamdes opened #1292 "Please write GitHub releases"
There is no GitHub release since `29 Dec 2019` that makes users see the repository like unmaintained but the docs talks about a V2.

This is confusing and forces the user to have a look to the tags pushed to see the latest version and it's date.

Please go back to writing releases notes 🙏🏻

[2021-04-06 06:57] stoynov commented on #1290
Hi. I use this method to check if the directory exists. The local adaptor has to have this type of method if you want to go deeper and iterate the list of StorageAttrabute elements. I can use the file_exist function but I think that It will be useful for everyone.

[2021-04-07 06:13] KarimQaderi opened #1293 "SplFileInfo::getType(): Lstat failed for image *.webp"
### Bug Report

[2021-04-07 09:30:12] production.ERROR: SplFileInfo::getType(): Lstat failed for storage/app/temp/544175fb91.webp {"exception":"[object] (RuntimeException(code: 0): SplFileInfo::getType(): Lstat failed for storage/app/temp/544175fb91.webp  at vendor/league/flysystem/src/Adapter/Local.php:509)

There is no problem with the local procedure, but my server has a problem

` $files = $th

[2021-04-07 07:46] KarimQaderi commented on #1293
I found the problem with the folder access level

[2021-04-07 07:46] #1293 closed, assigned to nobody

[2021-04-08 13:54] cgsmith opened #1294 "Too few arguments for LocalFilesystemAdapter::write()"
### Bug Report

I received this while trying to write a local copy of a file

[code]

|    Q        |   A
|------------ | ------
| BC Break    | not sure
| Version     | 2.0.4

#### Summary

The [LocalFilesystemAdapter documentation states Config can be optional](https://flysystem.thephpleague.com/v2/docs/usage/filesystem-api/) but the error is outputted.

#### How to reproduce

[code]

[2021-04-10 00:22] cgsmith commented on #1294
Ok...I'm stupid. I am not wrapping it with a Filesystem object.

[2021-04-10 00:22] #1294 closed, assigned to nobody

[2021-04-16 15:24] updatedData opened #1297 "FTPAdapter function "has" gives false positives"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | No
| Version     | 1.x

#### Summary

The call of  `$listing = $this->ftpRawlist('-A', str_replace('*', '\\*', $path));` in `src/Adapter/Ftp.php` in the function `getMetaData` is on some servers returning a list of the directory contents if the requested file is not present.

Since it's assuming the the check will provide a

[2021-04-19 01:58] tsmgeek commented on #1255
This can be handled by just having an generic return of metadata, where an adapter does not support it then show null, but if it does support then it will be either false or populated with result.
This is far better than current way of multiple requests IMO.

[2021-04-19 12:05] updatedData commented on #1297
Further investigation has shown that the `-A` is making the server output the whole directory list, regardless of what ever is in the path.

[2021-04-19 13:05] dereuromark commented on #1292
It is also very hard to see differences between v1 and v2 if there arent any github release notes on this subject and what actually changed etc.

[2021-04-20 14:59] MrMadClown commented on #1297
I had the same Issue with an ftp Server I have no control over.
[code]
   Is basically all I know, I haven't been able to find any technical Documentation about the avm FTP

[2021-04-26 16:00] dmaicher opened #1300 "`Invalid argument supplied for foreach()` in SftpAdapter when calling `listContents`"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | -
| Version     | 2.0.5

#### Summary

I have an issue when I want to list directory contents with a path that does not exist on the server when using `SftpAdapter`.

I get an error `Invalid argument supplied for foreach()`.

#### How to reproduce

This call returns `false`: https://github.com/thephpleague/flysystem/blob/2.

[2021-05-04 11:25] dakur opened #1303 "NullAdapter in v2?"
### Question

I use [`NullAdapter`](https://github.com/thephpleague/flysystem/blob/1.1.3/src/Adapter/NullAdapter.php) for mocking FS in tests, but it is gone in v2.

Do I have to add [`league/flysystem-memory`](https://flysystem.thephpleague.com/v2/docs/adapter/in-memory/) dep, or is there another way to go without it? I can not find single mention about its removal in changelog.

Thank you.

[2021-05-04 11:39] dakur commented on #1292
There is [changelog](https://github.com/thephpleague/flysystem/blob/2.x/CHANGELOG.md), [upgrade guide](https://flysystem.thephpleague.com/v2/docs/advanced/upgrade-to-2.0.0/) and [what is new](https://flysystem.thephpleague.com/v2/docs/what-is-new/), but I agree that Release is a convenient place where I look for list-structured information about breaking changes all the time.

Btw all of the place

[2021-05-04 11:56] dakur opened #1304 "Remove FilesystemException from annotations"
`FilesystemException` should not be annotated in `@throws`.

If you catch e.g. `UnableToWriteFile` from `FilesystemWriter#write()` you cover all errors which can occur in method `write()`. There is no need to annotate the interface as well. You can still catch whole `FilesystemException` as it is inferred from `UnableToWriteFile`.

The problem is that IDE complains now that you should catch also `

[2021-05-04 12:07] dakur commented on #1304
Btw, `fileExists()`/`UnableToCheckFileExistence` is missing in [docs](https://flysystem.thephpleague.com/v2/docs/usage/exception-handling/).

[2021-05-04 12:15] dakur opened #1305 "SftpAdapter does not catch UnableToConnectToSftpHost"
And underlying layer does not annotate it: https://github.com/thephpleague/flysystem-sftp/issues/124

[2021-05-04 12:34] dakur commented on #1303
I solved it by writing one. Probably it was not used so it was decided to drop it out of v2.

[code]

[2021-05-04 13:32] frankdejonge commented on #1304
Hi @dakur,

You can receive a FilesystemException because of a connection or misconfiguration problem with several adapters.

[2021-05-05 07:28] dakur commented on #1304
@frankdejonge Thank you for your response. You mean that also some configuration stuff throw implementations of `FilesystemException`? I think it should have different common exception, because it's different type of failure.

Something like this (names are made up):
- `FilesystemException`
  - `FilesystemOperationException`
    - `UnableToWriteFile`
    - …
  - `FilesystemConfigurationException`

[2021-05-06 04:47] dot-backend opened #1308 "File already exists at path (laravel)"
**Storage::disk('google')->move('old path_folder','new path folder');**
I can't move a file in drive, how can i move it in laravel, please help.
**I'm from Colombia**

![image](https://user-images.githubusercontent.com/62233231/117243303-9817ea00-adfc-11eb-98ae-ba4a2deaffe5.png)

[2021-05-06 04:49] IngDiegoOviedo commented on #1308
![image](https://user-images.githubusercontent.com/62233231/117243244-77e82b00-adfc-11eb-8374-caa0a6e40144.png)

[2021-05-13 15:50] fisharebest opened #1311 "listContents on Windows does not normalize directory separator"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.6

#### Summary

With version 1, the `listContents()` function normalised the directory separator to `/`.

With version 2, the separator depends on the underlying operating system.

#### How to reproduce

[code]

On a Linux machine, I get

[code]

On a Windows machine, I get

[code]

In 1.x, both env

[2021-05-13 15:55] frankdejonge commented on #1311
Apart from this being different than in the previous version. Is there anything wrong with this response? Is it causing an error?

[2021-05-13 17:46] fisharebest commented on #1311
It causes an error in my application, because I am expecting all filesystems to give consistent results.

Isn't that the point of a filesystem abstraction library?

Otherwise I need to write an abstraction layer on top of flysystem to hide these differences...

[2021-05-13 18:33] frankdejonge commented on #1311
What is the error it's causing? And please keep the smart remarks to yourself.

[2021-05-13 18:49] fisharebest commented on #1311
I have a database that contains references to files.

I have a filesystem which should contain these files.

I need to check for differences - i.e. "missing" and "extra" files.

So, I'm doing a diff on `SELECT filename FROM table` and `$filesystem->listContents()`.

I upgraded from flysystem 1 to flysystem 2, and now my "missing files" page shows every file missing on windows systems.

[2021-05-13 18:58] frankdejonge commented on #1311
Can you try `dev-2.x`, as in `composer require league/flsysystem:2.x-dev` and see if that fixes it for you?

[2021-05-13 19:40] frankdejonge commented on #1311
Fixed in 2.0.7

[2021-05-13 19:40] #1311 closed, assigned to nobody

[2021-05-14 07:22] fisharebest commented on #1311
Thanks for the quick fix.

No intention to be "smart", and apologies if this is how it was received.

Just a literal answer to the question: "Is there anything wrong with this response?"

[2021-05-15 19:49] #1300 closed, assigned to nobody

[2021-05-17 11:37] SeniorSupportEngineer opened #1312 "Keep identifier in paths when MountManager list contents, problem"
### Question

I don't understand the need of Keep identifier in paths when MountManager list contents. I now have a issue when I need to copy the file. I used in version 2.0.5 the filename also for the target.

`    $this->mountManager->copy(
                        self::SOURCE_PREFIX . $filename,
                        self::TARGET_PREFIX . $filename
                    );
`

Now my code is bro

[2021-05-18 21:41] PaolaRuby commented on #1308
@IngDiegoOviedo You have to give more information
Tienes que dar mas información

`Storage::disk('google')`
which adapter are you using? `League\Flysystem\GoogleCloudStorage\GoogleCloudStorageAdapter` or from third parties
¿Cual adapter estas usando? `League\Flysystem\GoogleCloudStorage\GoogleCloudStorageAdapter`  o de terceros

which version are you using? V1 or V2

[2021-05-18 21:53] dot-backend commented on #1308
![IMG-20210518-WA0005.jpg](https://user-images.githubusercontent.com/62233231/118727936-38a4db80-b7f9-11eb-9565-c448d3d34c0e.jpg)

I am new to using it and i do not have as much knowledge, where can i find information?

[2021-05-18 22:09] erikn69 commented on #1308
@IngDiegoOviedo the problem with Google Drive kind of adapter is that they use routes with ids and not real routes like `/path/to/file`, but it is not issue from this package, it is from **Hypweb**, you can ask there, or use other custom adapter,
if you are new maybe seems easier for you [masbug/flysystem-google-drive-ext](https://github.com/masbug/flysystem-google-drive-ext), i test it, and it wo

[2021-05-19 07:13] SeniorSupportEngineer opened #1313 "Directory listing is not sorted"
### Question

I started testing the upgrade from 1.0 to 2.0.8. after allot of code updates I got it working, only one thing I can't fix is the change of the directory listing.

It looks like a random sorting of the filenames, while in the old version it was [a - z] and now sometimes it's [z - a] or [a - z] or random.
I need it to be [a - z] because we import data in that order, because of the upda

[2021-05-19 19:17] dot-backend commented on #1308
@erikn69 thank you very much friends, i need to learn more!

[2021-05-20 11:44] devnix commented on #198
@esroyo sounds sweet. Should we open a separate ticket to write an RFC about this? The Filesystem component of ReactPHP looks gorgeous, and seems like there is an FTP component in the kitchen https://twitter.com/another_clue/status/1391768024605241349

I would love to humbly contribute to the project or the adapters. For me, the hardest part would be to have a consensus on the final API.

[2021-05-20 14:15] erikn69 commented on #1308
@IngDiegoOviedo [masbug/flysystem-google-drive-ext](https://github.com/masbug/flysystem-google-drive-ext) configs it's the same that [nao-pon/flysystem-google-drive](https://github.com/nao-pon/flysystem-google-drive) because was a fork, maybe you can close this issue, and please if works for you masbug/flysystem-google-drive-ext give a star

[2021-05-20 15:12] #1308 closed, assigned to nobody

[2021-05-24 15:58] frankdejonge commented on #1313
@SeniorSupportEngineer what adapter are you using?

[2021-05-25 00:44] spire-mike commented on #983
I'm also confused how this situation is meant to be handled. Can anyone explain how to properly remove that warning? I am using Laravel 8. I added an ftp filesystem disk, and all I'm doing is trying to read a file:

[code]
I do receive the file content as expected, but first I see a warning output:

[code]
Are you saying that this is expected behavior?

[2021-05-25 06:09] SeniorSupportEngineer commented on #1313
@frankdejonge I'am using the LocalFilesystemAdapter

[2021-06-02 07:58] SuperDJ commented on #1179
Even in 2.x there seem to be some missing file type extensions like `.pat` and `.rfa`.

[2021-06-02 14:57] dvcsiky commented on #472
I answer this because it wasn't immediately apparent to me either. :smile:

Whilst there were no references to this issue anywhere, including the commit / any PR, and it was seemingly included within a "Coding Standards fix" commit, ***it was supposedly fixed*** with the linked commit in the closing notice.

Please check that commit, as well as remember that `closed this in %x` is supposed to mean

[2021-06-02 14:59] asamofal opened #1315 "FileAttributes: where's basename?"
### Question

Hi there!
In v1 there was a property called `basename`. Why it's missing in new `FileAttributes` class? How can I get the name of the file/directory?

![image](https://user-images.githubusercontent.com/2729547/120503406-f3bd9f00-c3cb-11eb-9d72-bdad72a93e35.png)

[2021-06-02 17:37] stof commented on #1261
this issue is still relevant, as the PR is still in progress

[2021-06-03 09:23] fisharebest commented on #1249
@stalebot - please keep this issue open

[2021-06-03 10:18] asamofal commented on #1315
Nevermind, I forgot about `basename` function.
For everyone else:
[code]

[2021-06-03 10:18] #1315 closed, assigned to nobody

[2021-06-04 04:06] jasperf commented on #1169
Had one question. How would I add this decorator in Laravel PHP @frankdejonge ? Do I then still need a new Adapter like Spatie's [Flysytem Dropbox](https://github.com/spatie/flysystem-dropbox)? Would seem overkill if I only want to catch errors 503 and 504 using Digital Ocean Spaces as it is compatible with the Amazon S3 SDK. And also would then perhaps require another Spaces client package on top

[2021-06-04 05:19] jasperf commented on #1169
Actually if I do already have an adapter I guess I can just add the catching of 503 exceptions when `headObject`, `deleteObject` or `listObjects` lead to a 503 in https://github.com/smart48/flysystem-digital-ocean/blob/main/src/DigitalOceanAdapter.php , right? Only see `S3Exception` in main adapter (S3 clone) now..

Only then also need to see if I can use this to `throttle` or `backoff` With[ Lara

[2021-06-05 14:51] #1278 closed, assigned to nobody

[2021-06-07 20:13] KDederichs opened #1318 "FilesystemReader interface missing config on read and readStream"
### Bug Report

It's actually a mix of bug report and feature request.
While searching to use SSE-C encryption with the AsyncAws adapter I noticed that you can set the required options on write but not on read.
As per S3 documentation you are required to transmit the required parameters on write AND on read though.

Which brings me to the bug report/feature request:
`FilesystemReader` needs to be

[2021-06-10 05:26] jasperf commented on #1169
Well, I am thinking about a new Laravel service provider

[code]

that loads the `CheckFor503S3Client`. Seems to be a way to use the S3 adapter and wrap it so I can deal with 503 errors.

[2021-06-11 08:41] lupo112 commented on #1261
any progress? i have the same problem with server host key

[2021-06-11 13:54] kevin-schmitt opened #1322 "FtpAdapter Warning: ftp_rawlist(): php_connect_nonb() failed: Operation now in progress"
Hello

### Question
I want get information from my ftp server with ftps but when i go to in foreach i have error `Warning: ftp_rawlist(): php_connect_nonb() failed: Operation now in progress (`

my code

[code]
$contents dump
[code]
my connection option with adapter
[code]

But with native ftp work nice for get my dir

[code]

Thanks for help

[2021-06-14 06:31] #1322 closed, assigned to nobody

[2021-06-15 08:25] honiahaka10 commented on #1304
@frankdejonge
But should FilesystemException not be a parent class instead of an interface instead?
With an interface this will result in code like that:
`try {
    $content = $filesystem->read('somepath');
} catch(Exception $e) {
    // do exception handling
} catch (FilesystemException $fe) {
   // do exception handling
}`
Without the second catch block, IDE will give a warning about unhandled e

[2021-06-15 20:36] frankdejonge commented on #1261
I've merged the PR for this. Interested people can try the v3 variant here: https://packagist.org/packages/league/flysystem-sftp-v3

[2021-06-16 22:46] #1288 closed, assigned to nobody

[2021-06-16 22:46] #1284 closed, assigned to nobody

[2021-06-16 22:46] #1283 closed, assigned to nobody

[2021-06-16 22:46] #1289 closed, assigned to nobody

[2021-06-17 05:56] bytehead commented on #1284
🤷‍♂️

[2021-06-17 05:57] bytehead commented on #1284
The link is still wrong.

[2021-06-22 05:14] timwsuqld opened #1323 "Allow fetching of extraMetadata"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes

#### Scenario / Use-case

Many backends provide more metadata. We currently populate `FileAttributes` with the data, but don't provide a way to access it. While we can't provide interfaces into any of that data in a way that would allow cross adapter use, we can just provide that data. That way

[2021-06-22 15:42] PaolaRuby commented on #1323
So `$file->extraMetadata()` doesn't work?
https://github.com/thephpleague/flysystem/blob/27ba26d8783e2ca3e4a5cf85534ccf1af6c68ec3/src/FileAttributes.php#L92-L95

https://github.com/thephpleague/flysystem/blob/27ba26d8783e2ca3e4a5cf85534ccf1af6c68ec3/src/FileAttributesTest.php#L47

[2021-06-22 22:06] fredsal commented on #1290
So, the question was, **How to check if directory exists?**

[2021-06-23 12:52] MrMadClown commented on #1297
Well, the Bug and my pull request are both still there. Should not be closed.

[2021-06-26 13:35] #1286 closed, assigned to nobody

[2021-06-30 14:46] internalsystemerror opened #1327 "Missing Documentation V2 - Configuration"
### Question

I was wondering what I could pass as the `$config` parameter to the various API calls and I can't find any documentation on the matter. Is it possible to set visibility per file? Does this have to be done at the adapter level?

[2021-07-03 13:44] reeperbahnause commented on #1290
I have the same question for v2.
Is there a nice way to check if a directory exists?
For sure I could use the `listContents` function but this seems to ignore some S3 directories?
How about a `directoryExists` function? This would prevent side effects for the `fileExists` function?

[2021-07-03 14:46] reeperbahnause opened #1328 "Differnt directory separators on Windows"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.1.1

#### Summary

On Windows the last directory separator is a back-slash all other separators a forward-slashes.
This issue is related to #1311 which states that the issue is fixed with version 2.0.7

#### How to reproduce

1. set up a project on windows
2. call the Storage::listContents function
The

[2021-07-08 06:46] williamdes commented on #1292
Pong

[2021-07-08 07:37] dakur commented on #1305
not resolved yet

[2021-07-08 07:38] dakur commented on #1303
not answered yet

[2021-07-13 23:52] joshbruce commented on #1313
Same question and same response re adaptor.

https://github.com/8fold/php-shoop/issues/204

[2021-07-14 12:16] olvlvl commented on #1292
We're starting to move to v2 and what would be helpful for us is to include breaking changes like renamed interfaces. We have to figure this ourselves like `League\Flysystem\AdapterInterface` was renamed as `League\Flysystem\FilesystemAdapter`. `@deprecated` mentions with an update path in the 1.x branch would be awesome.

[2021-07-18 16:02] iaicam opened #1329 "Class League\Flysystem\AwsS3v3\AwsS3Adapter not found"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1

#### Summary

Using 2.1.1 of flysystem and 2.1.0 of this aws-s3 package. The class League\Flysystem\AwsS3v3\AwsS3Adapter is not found.

#### How to reproduce

I've created a demo repo that suffers from this problem. https://github.com/iaicam/flysystem-error this was tested using composer 2.1.3 on PHP

[2021-07-18 16:20] frankdejonge commented on #1329
The class you're trying to resolve has a casing mismatch in the adapter namespace segment:

[code]

[2021-07-18 16:22] #1329 closed

[2021-07-18 17:33] frankdejonge commented on #1327
Hi, PR's for documentation are very welcome 👍

[2021-07-18 17:33] #1327 closed, assigned to nobody

[2021-07-18 17:34] frankdejonge commented on #1328
I don't have a windows setup, nor do I have a CI setup for it. A PR for this would be great.

[2021-07-18 17:49] frankdejonge commented on #1313
@Nyholm I'm investigating this one.

[2021-07-18 18:13] frankdejonge commented on #1313
I've fixed this a PR, please check it out: https://github.com/thephpleague/flysystem/pull/1330

[2021-07-18 18:14] frankdejonge commented on #1303
@dakur does the memory adapter suit your needs for testing?

[2021-07-18 19:12] iaicam commented on #1329
Thanks for the response, however I updated the example because I had this error when using IntelliJ autocomplete so it seemed odd that would screw up the class name. The error still exists as far as I can see in https://github.com/iaicam/flysystem-error

[2021-07-18 19:17] iaicam commented on #1329
Never mind, I suck at copying and pasting today.

[2021-07-19 10:05] internalsystemerror commented on #1327
I would be happy to contribute, but I would need an answer to my usage question.

[2021-07-19 19:30] #1313 closed, assigned to frankdejonge

[2021-07-20 19:24] lem7974 opened #1331 "accepted file types when uploading"
### Question
good afternoon. where can I configure accepted file types when uploading.

[2021-07-23 10:02] pralhadstha opened #1333 "No file attach method in Zip-archive adapter"
### Question
There seems to be no method to attach the files into zip-archive. How do we create a zip archive using the zip-archive adapter?

The snippet from ZipArchiveAdapter file:
https://github.com/thephpleague/flysystem-ziparchive/blob/2.x/ZipArchiveAdapter.php#L61

[code]

To, add the data into the zip archive we need to add **[addFile()](https://www.php.net/manual/en/ziparchive.addfile.php)

[2021-07-24 15:36] frankdejonge commented on #1333
Hi, the zip is created automatically. When you use write/writeStream the file is created. Unset the filesystem (and thereby the adapter) to force a write.

[2021-07-24 15:36] #1333 closed, assigned to nobody

[2021-07-26 07:40] shahruslan commented on #868
I have the same question. I need to specify a different MimeTypeDetector. How to do it if the class is marked as @internal ?

[2021-07-27 09:36] VincentLanglet opened #1334 "Provide a path compatible with `is_file`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Scenario / Use-case

HI @frankdejonge
Related to https://github.com/dustin10/VichUploaderBundle/issues/1217#issue-948729262

When using `gaufrette`, before downloading a file, the path is `gauffrette://folder/file.jpg`.
Running `is_file` on this path is returning true and then the file coul

[2021-07-28 02:59] karrakoliko opened #1335 "Why flysystem creates empty directory by default (through ensureDirectoryExists) instead of throw Exception?"
### Question

ensureDirectoryExists method creates empty directory if it doesn't exist by default.

https://github.com/thephpleague/flysystem/blob/e6d7bab6d274953f1bd3a8a028766147ac0c00e5/src/Local/LocalFilesystemAdapter.php#L94
https://github.com/thephpleague/flysystem/blob/e6d7bab6d274953f1bd3a8a028766147ac0c00e5/src/Local/LocalFilesystemAdapter.php#L286

In some cases we expect it to throw exce

[2021-07-28 10:41] JimKnoxx opened #1336 "removeFunkyWhiteSpace will throw an error with multibyte emojis"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no (I guess)
| Version     | 1.1.4

#### Summary

I noticed that writing a file with an emoji in its name does not work with all emojis.
The method `Util::removeFunkyWhiteSpace($path)` throws an error, if the path contains a multibyte emoji.
It works fine with "normal" emojis.
The `preg_match('#\p{C}+#u', $path)` does match

[2021-07-30 04:23] #1312 closed, assigned to nobody

[2021-08-01 10:32] frankdejonge commented on #1336
Seems like there's an overlap with the unicode codepoints that can cause a https://en.wikipedia.org/wiki/Time-of-check_to_time-of-use attack. I've tried to look for a regular experession which is less greedy about it, but have failed to find one. Since not using this causes a security concern, this issue cannot be resolved.

[2021-08-02 10:15] grztofdev opened #1337 "How to upload string to ftp with flysystem and utf-8"
### Question

I have a task to upload a txt file to the FTP server using `League\Flysystem` with `UTF-8`

Code which is responsible for that is looking like this:
[code]
After uploading this file, when I open it on my server, it looks like this:
[code]
As you can see, there is no utf-8 encoding despite that I have set `['mimetype' => 'text/plain; charset=utf-8']` and `mb_convert_encoding($fileCont

[2021-08-03 08:48] baptistemeunier opened #1338 "UTF-8 activation fail in some server"
### Bug Report

Hi,

On some server the comand `OPTS UTF8 ON` respond with `202 UTF8 mode is always enabled. No need to send this command.`.

If you request UTF8 in your adapter config, the connection will fail for those server.

#### How to reproduce

* Find a server who return `202 UTF8 mode is always enabled` (maybe filezilla-server ?).
* Set `utf8` to `true` in your adapter config
* Try a conn

[2021-08-04 14:34] binarweb opened #1341 "Unable to connect to self-signed FTP domain"
### Bug Report

Some shared hosting providers use self-signed certificates generated by cPanel, but they come with incorrect domain (e.g I connect to `domain.com` and the certificate is for `server23.cpanel.com`).
Providing correct credentials, tested via Filezilla, I'm able to connect to these FTP servers.
Now, it seems that internally, the `flysystem-ftp` connects via PHP's `ftp_` functions that

[2021-08-04 17:15] Yiivgeny opened #1342 "Exception when iterate over sorted directory listing (v2)"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.0

#### Summary

Exception when iterate over sorted directory listing

#### How to reproduce

[code]
 `iterator_to_array` as a demo, so  `\IteratorIterator` not worked too.

**Also highlighted with PHPStorm**
![изображение](https://user-images.githubusercontent.com/1321010/128225427-df2fa6cc-a080-440e

[2021-08-05 17:13] matdave opened #1343 "Unable to retrieve mimeType on AwsS3V3Adapter"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.0

#### Summary

When using the AwsS3V3Adapter, I am unable to determine the mime types.

[code]
results in a log file with the error `Unable to retrieve the mime_type for file at location: knownpath`

#### How to reproduce

I am currently using league/flysystem 2.2.0 combined with league/flysystem-aw

[2021-08-05 19:01] matdave commented on #1343
I've done a little further digging, and file objects return the correct mime type, but directory's do not. On the local filesystem they will return "directory", however on AWS they are returning the error.

[2021-08-07 12:08] rulatir commented on #234
This issue is not s3 specific.

[2021-08-18 08:19] frankdejonge commented on #1343
Why do you need the mimetype of a directory?

[2021-08-18 08:21] frankdejonge commented on #1341
Since the implementation is built on PHP internal FTP functions, I do not know of a way to mitigate this issue.

[2021-08-18 08:30] frankdejonge commented on #1337
Hi @chrisooo3,

Did you use the `utf8` ftp connection option?

[2021-08-18 08:31] frankdejonge commented on #1261
Any feedback on this before I tag an stable version?

[2021-08-18 08:34] #1303 closed, assigned to nobody

[2021-08-18 08:51] #1342 closed, assigned to nobody

[2021-08-18 08:59] frankdejonge commented on #1331
Flysystem accepted any file type.

[2021-08-18 08:59] frankdejonge commented on #1342
Bugfix released as 2.2.2, thank you for reporting the issue.

[2021-08-18 09:21] frankdejonge commented on #1338
Both PRs have been merged and released, so this issue is now fixed. Thank you for reporting it and sending in the PRs.

[2021-08-18 09:21] #1338 closed, assigned to nobody

[2021-08-18 11:26] grztofdev commented on #1337
Hi @frankdejonge
Yep, I have set it up.

[2021-08-20 11:23] MA812 opened #1346 "There is some restrictions about big files ?"
### Bug Report
Hello,
I have some problems about upload of big size, in php. I use flysystem v1. v2 don't work.
FIles with some Kb or Mb, worked and uploaded with no problems. But Files with 300Mb are not uploaded.
Any method used 'put' ; 'putStream' ; 'writeStream' ...

I need to upload some zip in php,
All try of upload, when not successful take too much time for uploading, maybe because it's bi

[2021-08-21 18:37] frankdejonge commented on #1346
This seems to be a problem with guzzle when it switches to streamed requests. Might be good to open an issue with the AWS SDK instead (they have close ties with guzzle) and are better equipped to assist you. Flysystem merely adapts to the underlying SDK's so the error you are faced does not seem to be caused by Flysystem.

[2021-08-22 13:53] MA812 commented on #1329
Hello,

I have this error too.
I start with v1 : `{
    "require": {
        "league/flysystem-aws-s3-v3": "^1.0"
    }
}`

All works.
But when I update composer to  `{
    "require": {
        "league/flysystem-aws-s3-v3": "^2.0"
    }
}`
after delete vendor folder and composer.lock file
AND update
`use League\Flysystem\AwsS3v3\AwsS3Adapter;`
`$adapter = new \League\Flysystem\AwsS3v3\AwsS3Adapter

[2021-08-22 13:55] frankdejonge commented on #1329
@MA812 the class should be `League\Flysystem\AwsS3V3\AwsS3V3Adapter`.

[2021-08-22 13:59] MA812 opened #1347 "Uncaught Error: Class "League\Flysystem\AwsS3V3\AwsS3Adapter" not found with ONLY in v2. v1 work correctly."
### Bug Report

Hello,

I have this error too.
I start with v1 : `{ "require": { "league/flysystem-aws-s3-v3": "^1.0" } }`

All works.
But when I update composer to `{ "require": { "league/flysystem-aws-s3-v3": "^2.0" } }`
after delete vendor folder and `composer.lock` file
AND update
`use League\Flysystem\AwsS3v3\AwsS3Adapter;`
`$adapter = new \League\Flysystem\AwsS3v3\AwsS3Adapter($client, $buck

[2021-08-22 14:01] frankdejonge commented on #1347
Dude, I already commented on your other post. You didn't even bother to update the issue description.

[2021-08-22 14:01] #1347 closed, assigned to nobody

[2021-08-24 10:11] ghost opened #1348 "How to use it"
### Question

I'm new fresh ,How to use it ,I can't find any idea in readme

[2021-08-24 10:16] #1348 closed, assigned to nobody

[2021-08-24 22:35] gnumoksha commented on #1329
some notes:
- this is related to https://github.com/thephpleague/flysystem/issues/1347 (in order to GitHub link this issue on that page)
- the change was on the letter `v` in `AwsS3V3`, from lowercase to uppercase
- one may need to clean PhpStorm cache (File -> Invalidate Caches...)

[2021-08-25 20:05] #1346 closed, assigned to nobody

[2021-08-26 17:30] MA812 commented on #1346
Hello,
With v2, there is no problem for upload.

It's correct with :

use Aws\S3\S3Client;
use League\Flysystem\AwsS3V3\AwsS3V3Adapter;
use League\Flysystem\Filesystem;
$client = new \Aws\S3\S3Client([
      'endpoint' => '***',
      'credentials' => [
          'key' => '***',
          'secret' => '***'
      ],
      'region' => '***',
      'version' => 'latest'
]);

$adapter = new \League\Fl

[2021-08-26 17:31] MA812 commented on #1346
thanks for help
@frankdejonge

[2021-08-26 17:31] frankdejonge commented on #1346
All good 👍 glad it worked out for you

[2021-08-26 22:00] tofra commented on #1312
I've experienced the same issue, it's really bad that there is a backward compatibility issue. The path property now contains "source://". So previously path was '/tmp' and now it's 'source:///temp'

:-(

[2021-08-30 08:09] JhinChenzy opened #1350 "Cannot resolve argument $testFly of \"App\\Controller\\Api\\IndexController::upload()\": Cannot autowire service \"App\\Flysystem\\testFly\": argument \"$defaultStorage\" of method \"__construct()\" references interface \"League\\Flysystem\\FilesystemOperator\" but no such service exists. Did you create a class that implements this interface?"
### Question

when I just dump the object,
Here is the code
![image](https://user-images.githubusercontent.com/89455146/131307250-85f4ba13-fb64-401f-91f6-626b081021b6.png)
![image](https://user-images.githubusercontent.com/89455146/131307285-d363808e-3561-4809-bf72-b2ed84a12ee7.png)

[2021-08-30 08:13] JhinChenzy commented on #1350
even like this, there is the same trace
![image](https://user-images.githubusercontent.com/89455146/131307947-cf113d04-b576-4376-87ec-218e4f1a478d.png)

[2021-08-31 05:24] BackEndTea commented on #1350
Did you install the flysystem bundle? That should normally take care of auto wiring

[2021-08-31 17:49] deasraze opened #1351 "[FtpAdapter] Uploading files to nested directories"
### Question
Hi. I'm trying to upload files via FTP using the writeStream method. Files are uploaded to nested directories (2021/08/31/file_name etc.). Everything works fine until I try to upload another file to existing directory. After trying to upload a file to  existing directory, i get the following Exception:
`League\Flysystem\UnableToWriteFile:: atLocation('2021/08/31/e49548a3-5cc7-43ef-90f

[2021-08-31 18:09] deasraze commented on #1351
The issue was resolved by adding " / " to root in the configuration file.

[2021-08-31 18:09] #1351 closed, assigned to nobody

[2021-09-01 13:20] lekoala opened #1352 "clearstatcache should use true as first argument according to php docs"
This issue affects v1 and v2

In the Local adapter, there are calls to `clearstatcache`

https://github.com/thephpleague/flysystem/blob/811bdc2d52a07eafbb6cb68a7b368b0668b362c8/src/Local/LocalFilesystemAdapter.php#L298

According to the php docs (https://www.php.net/manual/en/function.clearstatcache.php) the second argument is only used if the first argument is set to true.
Or maybe there is some

[2021-09-07 16:25] matdave commented on #1343
On regular file system it returns that it is a directory. So basically, "consistency" to determine if what is being passed is a directory.

[2021-09-13 18:05] armanist opened #1354 "fileExists() on absolute paths"
### Question

When called `fileExists()` of `LocalFilesystemAdapter` with correct absolute file path.. false returned

`fileExists($path)` itself calls:

[code]

and this is what prefixPath returns

[code]

where `$this->prefix` already contains full path to the file directory and the `$path` itself also contains full path + filename so it returns absolute path doubled, therefore could not find th

[2021-09-15 18:17] sdwru opened #1355 "UI front ends?"
### Question

Are there any basic UI front ends for flysystem?  [Elfinder](https://github.com/Studio-42/elFinder) is one I am aware of.  It's ok but I am hoping there is something more basic out there.

[2021-09-16 17:43] frankdejonge commented on #1355
Hi :) this is only the underlying library. It's main focus is file storage for applications, so not specifically for user-managed files. There is currently no intention to expand the project focus into this direction.

[2021-09-16 17:47] sdwru commented on #1355
My question was asking if there are any 3rd party UI's.   I am aware that flysystem is just a library.

[2021-09-16 17:48] frankdejonge commented on #1355
Not that I'm aware of, you could look through all the packages that depend on flysystem to see if there is perhaps another package like that: https://packagist.org/packages/league/flysystem/dependents?order_by=downloads

[2021-09-17 14:41] TheCelavi commented on #1290
Argument for "directoryExists":

Considering that we can use AWS S3 along with CloudFront, and we need to deliver securely content from directory to the user we need to:

1. determine if user has access to directory
2. determine if directory exists
3. issue signed cookie so user can access to the resources within directory

So this is a big deal breaker for us because we can not determine if there

[2021-09-21 07:53] jkuma opened #1356 "[Google Cloud Storage] It should be possible not to use the visibility handler/visibility settings."
### Bug Report

Report of issue (https://github.com/thephpleague/flysystem-google-cloud-storage/issues/4) from `thephpleague/flysystem-google-cloud-storage`

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.6

#### Summary

GCP storage buckets now suggest not to use ACL but bucket wide permissions when possible. Unfortunately trying to upload a file to such bucket

[2021-09-21 12:15] jkuma opened #1358 "[Google Cloud Storage] Impossible to set an empty prefix"
### Bug Report

This is a report of (https://github.com/thephpleague/flysystem-google-cloud-storage/issues/3) from `thephpleague/flysystem-google-cloud-storage`

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.6

#### Summary

There is no way to list first level (root) contents of bucket, as prefix is always overridden with the slash '/'.

#### How to reproduce

W

[2021-09-22 01:13] Uili-Simteau commented on #472
Same issue here

[2021-09-22 07:43] #1358 closed, assigned to nobody

[2021-09-22 07:43] #1356 closed, assigned to nobody

[2021-09-23 12:21] hbraehne commented on #1261
I just upgraded a rather large application from flysystem-sftp to flysystem-sftp-v3 to gain support for DSA keys. In our dev and staging environment everything seems to work as expected. Are there any plans to release a stable version soon?

[2021-09-24 14:30] alexhackney opened #1360 "Generating Signed URLs with IP Address Restriction"
First, thank you for your work here. As a php/laravel developer, Flysystem makes working with files soooo much easier. I appreciate your contribution to the community.
### Question

I'm using temporary urls in an app and it's working flawlessly.

I currently create a temporary url with a expired at time of 5 mins for a video playback. The file just plays the entire time with no issue, even if its

[2021-09-24 15:07] sdwru opened #1361 "Why no cache adapter for v2?"
Is it no longer necessary or of little benefit in v2?  I am currently using [elfinder-flysystem-driver](https://github.com/barryvdh/elfinder-flysystem-driver) which uses v1 and makes extensive use of the cache adapter.  I am using that in conjunction with the f[lysystem-sftp v1](https://github.com/thephpleague/flysystem-sftp/tree/1.0.22) adapter.

I am trying to decide if I should keep using that

[2021-09-24 16:45] frankdejonge commented on #1361
Hi @sdwru

This thing above is one of the reasons. The other reason is that I personally no longer have the use-case to support this and nobody else has stepped up to contribute or support it. I'd be happy to link to a community supported cache adapter, but I do not have the time to spend on this myself.

[2021-09-24 16:52] frankdejonge commented on #1360
Hi @alexhackney,

If I'm understanding correctly, your issue is not per se with Flysystem but the Laravel Signed URL functionality, is that correct?

[2021-09-24 16:59] alexhackney commented on #1360
@frankdejonge Possibly. It looks to me that Laravel's implementation relies on

[code]

I guess I just want to know if the signed url can be tied to an ip at all. I know preventing access to a file isn't 100% possible but there must be a way to make it extremely difficult.

[2021-09-24 17:01] frankdejonge commented on #1360
They rely on that adapter to lookup the AWS SDK, so they sort of use this library as a service locator (which it should not be used for). My advice would be to either ask the lovely Laravel people or raise an issue with AWS SDK.

[2021-09-24 17:36] alexhackney commented on #1360
Ok. Thanks.

[2021-09-24 17:36] #1360 closed, assigned to nobody

[2021-09-28 06:44] maksymvirchenko opened #1363 "[Google Cloud Storage] issue with copy"
### Bug Report

Related to #1356
The error still exists in "copy" method.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.3.0

#### Summary

The main point is that the visibility is accessed from the copied object which creates the same error:

[code]

#### How to reproduce

Use copy/move method using a fresh default google bucket instance.

[2021-09-28 06:45] maksymvirchenko commented on #1363
Related PR: https://github.com/thephpleague/flysystem/pull/1362

[2021-09-28 11:30] VincentLanglet commented on #1334
Closing in favor of https://github.com/dustin10/VichUploaderBundle/issues/1217#issuecomment-906424417

[2021-09-28 11:30] #1334 closed, assigned to nobody

[2021-09-28 18:25] ptheofan opened #1364 "Listing from LocalAdapter produces double results"
### Question
Hi guys, I try to get the folder listing and I always get double results. I have tried with both v2 and v1. Is this some bug that managed to escape everyone or (most likely) I am doing something wrong?

[code]

[2021-09-28 20:31] frankdejonge commented on #1364
@ptheofan Hi, could you add some information about your local setup, anything special about it?

[2021-10-02 20:14] maximus1127 opened #1365 "ftp_fput(): SSL_shutdown failed"
I am trying to upload files to storage using FTP. It randomly works and randomly doesn't. When it randomly doesn't, I get this error:

`ErrorException: ftp_fput(): SSL_shutdown failed in C:\laragon\www\workflow\vendor\league\flysystem\src\Adapter\Ftp.php:273`

My config looks like this:

[code]

Currently trying to run on laravel 8.12. Any advice?

[2021-10-09 16:24] abelardolg opened #1367 "There is no extension able to load the configuration for 'flysystem'"
Hi there,

I installed your FTP Adapter (Flysystem v2) into my dockerized Symfony app.

When I launch Postman to test my functionality, this message:
![Captura de pantalla de 2021-10-09 19-38-46](https://user-images.githubusercontent.com/22522883/136668716-5d778ca1-0cfd-435b-b182-20191c2bc67f.png)
is showed.

Inside my services.yaml, I have written:
![Captura de pantalla de 2021-10-09 19-40-13](ht

[2021-10-09 16:44] abelardolg commented on #1367
Inside the bundles.php no entry was added related to Flysystem.

[2021-10-26 18:54] Warxcell opened #1370 "Remove all prefixer implementation from Adapters, move it to FilesystemPrefixedDecorator."
### Bug Report

It's very annying to have prefix implemented per adapter.
The use-case is: on file write => create CloudFront Invalidation.
I'm doing that by creating Decorator that Decorates FilesystemOperator, and on write methods - do API call to create invalidation.

The problem is that prefix is implemented in underlying adapter. So if I have AwsS3 adapter with prefix `xxx`, and I do

`$files

[2021-10-27 13:40] frankdejonge commented on #1370
When deciding this I've chosen not to implement it this way. The prefixing and stripping is a re-usable class, you can use that for your case as well.

[2021-10-27 13:40] #1370 closed, assigned to nobody

[2021-11-04 19:25] frankdejonge commented on #1367
I have no idea, but I don't think this is a flysystem issue, seems like a DI configuration issue.

[2021-11-04 19:27] frankdejonge commented on #1365
No clue. FTP servers are pretty shit, can act unstable, and PHP's FTP functions are also "meh".

[2021-11-04 19:29] #1364 closed, assigned to nobody

[2021-11-04 19:29] #1361 closed, assigned to nobody

[2021-11-04 19:29] #1355 closed, assigned to nobody

[2021-11-04 19:33] frankdejonge commented on #1352
fixed for next release

[2021-11-04 19:33] #1352 closed, assigned to nobody

[2021-11-04 19:35] frankdejonge commented on #1343
Consistency for the sake of consistency is not a compelling reason for me to incur the complexity needed to resolve this. PR is welcome for evaluation, but I do not feel strongly enough about this myself to spend time on it.

[2021-11-04 19:35] #1343 closed, assigned to nobody

[2021-11-05 01:24] ScottyRobinson commented on #1139
I have unfortunately hit the same issue with the same package.

[2021-11-07 09:06] chapa opened #1378 "[FTP adapter] system type option doesn't seem to be used"
Hi there,

I was creating a FTP adapter factory in [webalternatif/flysystem-dsn](https://github.com/webalternatif/flysystem-dsn), and noticed that the `$systemType` option given to `FtpConnectionOptions` doesn't seem to be used anywhere:
![image](https://user-images.githubusercontent.com/457659/140636886-fb2cb2a7-eae8-480e-a288-813f4f423c30.png)

While there is a [`$systemType` property in `FtpAda

[2021-11-17 10:54] nepster-web opened #1379 "Where is the rename function?"
In the documentation, I see the function **rename***
https://flysystem.thephpleague.com/v1/docs/usage/filesystem-api/

But this function is not in the available interface.
https://github.com/thephpleague/flysystem/blob/2.x/src/Filesystem.php

How so?

![изображение](https://user-images.githubusercontent.com/5681979/142187575-c347c6f2-b7fe-4335-9a25-32e6c727ed58.png)

[2021-11-17 15:08] nepster-web commented on #1379
![изображение](https://user-images.githubusercontent.com/5681979/142226343-630abe21-52b5-49ba-b83b-4b6b731060cd.png)

[2021-11-17 15:08] #1379 closed, assigned to nobody

[2021-11-19 07:32] pwjbj opened #1380 "Merge files"
file(1GB) is divided into blocks and needs to be merged into a new file
code
        foreach ($blocks as $block){
                $block_filename = $attachment_service::getBlockFilePath($hash_key . '.part.' . $block['chunk']);

                $contents = $this->filesystem->readStream($block_filename);
                $this->filesystem->writeStream($combine_filename, $contents);

            }
The

[2021-11-21 09:47] frankdejonge commented on #1380
Hi @pwjbj, the underlying code was the same for write and update, you can use write/writeStream.

[2021-11-21 09:47] #1380 closed, assigned to nobody

[2021-11-22 04:12] pwjbj commented on #1380
The writestream method overwrites the file without appending, What does the third parameter of the writestream method need to be passed

[2021-11-22 16:32] lraghib opened #1382 "flysystem 2 not compatible with flysystem-azure-blob-storage"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.3.0

#### Summary

I'am using **flysystem-bundle** version 2 and i a m trying to connect to my azure blob, following the docs,  i have to install   the ```flysystem-azure-blob-storage```, but i get this error after runing the ```composer require league/flysystem-azure-blob-storage:^1.0```:

[code]
####

[2021-11-23 13:06] bblemm opened #1383 "can't detectSystemType for windows"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.1.5

#### Summary

The response from windows-ftp-server has a human readable format.
This contains padding whitespaces.

In function normalizeWindowsObject() is a trim used for this problem,
but in detectSystemType() is the item unfiltered used and the function returns always ‘unix’.

Finally, the item

[2021-11-24 13:43] abelardolg commented on #1367
Hi again!

Thanks for replying.

What would it be the best way to add these settings with no write them inside my code?

Best regards.

[2021-11-25 19:49] frankdejonge commented on #1383
Supplied PR is merged and released as 1.1.7

[2021-11-25 19:49] #1383 closed, assigned to nobody

[2021-11-26 04:51] VladimirCyberDev commented on #1261
I tried v3 today, haven't noticed any issue, seem to be working as expected.

[2021-11-27 16:58] pierrexp9 opened #1386 "PHP 8.1.0 The ftp parameter expects an FTP\Connection instance now; previously, a resource was expected."
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.x

#### Summary

When using PHP 8.1, the ->disconnect() method does not work on League\Flysystem\Adapter\Ftp

#### How to reproduce

- Install php 8.1
- Etablish a FTP connection
- Call disconnect on the Adapter
- The FTP connection is still alive (check with `netstat -peanut | grep :21` for example)

W

[2021-11-27 16:59] frankdejonge commented on #1386
@pierrexp9 please fill out the bug template, otherwise issues will be closed.

[2021-11-27 17:27] esroyo commented on #198
@devnix sorry for the late answer. I'm not using so much PHP this days, so I really lost interest.
I hope PHP 8.1 Fibers stimulates interest on async a bit.

[2021-11-27 17:42] pierrexp9 commented on #1386
@frankdejonge done ! thanks for the warning before shooting :)

[2021-11-28 19:43] frankdejonge commented on #1386
@pierrexp9 thanks for filling in the missing information. I just pushed a commit that addresses this, can you check it out to verify?

[2021-11-28 21:13] pierrexp9 commented on #1386
@frankdejonge Hello Frank,
it seems that the build is failing : https://github.com/thephpleague/flysystem/commit/3d395569e09e2549f30b0bed6b7be3b9a56943bd

I suggest using this method to stay compatible with older php versions :
(I have tested this code with php8.0 and php8.1 successfully)

[code]

[2021-11-28 21:35] frankdejonge commented on #1386
Hi @pierrexp9, that build was failing on PHPStan, the instance of check works in PHP on non-existent classes just fine, so it should not be incompatible with older versions of PHP. Also, that's the 2.x line, so it shouldn't affect you on 1.x now :)

[2021-11-28 21:45] pierrexp9 commented on #1386
@frankdejonge allright, thanks for the info, I thought this would fail, but I just tested and you are correct !
Ok for the 1.x (max version for Laravel at the moment)
Thank you for the very quick fix ! :+1:

[2021-11-28 21:49] frankdejonge commented on #1386
@pierrexp9 all good. I'll tag a 1.x version to ship this fix.

[2021-11-28 21:54] #1386 closed, assigned to nobody

[2021-11-28 21:54] frankdejonge commented on #1386
Version 1.1.8 was tagged.

[2021-12-03 15:37] astehlik opened #1387 "[FTP adapter] LIST command not compatible with latest FileZilla server"
### Bug Report

Providing options with the FTP `LIST` command (e.g. `LIST -aln /`) is not supported any more by the FileZilla server.

I'm not sure if the new behavior is violating any RFCs or if allowing options is actually a non Standard behavior.

My suggestion would be to add an option that disables the usage of LIST options (which seems to fix the issue).

|    Q        |   A
|------------ |

[2021-12-08 04:47] yochanan-gurovich opened #1388 "PHP 8.1 support"
### Bug Report

PHP 8.1
league/flysystem 1.1.8

calling:
League\Flysystem\Adapter\AbstractAdapter->removePathPrefix( $path)
results in:
Deprecated: strlen(): Passing null to parameter #1 ($string) of type string is deprecated in ../vendor/league/flysystem/src/Adapter/AbstractAdapter.php on line 70

[2021-12-10 21:27] updatedData commented on #1297
Any news on this?

[2021-12-12 03:00] #1388 closed, assigned to nobody

[2021-12-13 11:39] stancl opened #1389 "Make it possible to change the path prefix in v2"
### Feature Request

Hey, first time contributing so sorry if this is duplicate, though I didn't find any related issues.

|    Q        |   A
|------------ | ------
| New Feature | no (re-adds v1 feature)
| BC Break    | no

#### Scenario / Use-case

I maintain a large [multi-tenancy package](https://github.com/archtechx/tenancy) for Laravel, which includes logic for scoping the filesystem disks

[2021-12-22 17:00] stancl commented on #1389
@frankdejonge if you could let me know that this is a change you'd accept, I'm more than happy to submit a PR. Thanks!

[2021-12-22 20:29] frankdejonge commented on #1389
Hi @stancl, I'm not open to a PR for this. An alternative would be to create a prefix based filesystem operator decorator, which can allow you to change it. As a design principle the encapsulation should not be mutated after creation as this can lead to consuming code not being able to know trust it and getting irregular responses. Instead it's better to create a new instance (almost no overhead t

[2021-12-22 21:18] stancl commented on #1389
Hey @frankdejonge, thanks for the reply. I see, that makes sense.

The package's current code is this (a bit messy, but should be understandable):

[code]

You can see that the code changes the prefix both on the adapter instance and in the Laravel config. I understand your proposed solution would be basically telling the framework to forget the current instance, and instead use a new one with the

[2021-12-23 15:24] frankdejonge commented on #1389
The integration of Laravel is a `config` to `instance` relationship, since you do not want an instance with that config, I don't think it matches your case. Constructing your own instance is not very hard to do, so I would suggest to do that or check if laravel wants to introduce a dynamic disk creation method.

[2021-12-23 17:48] NOUIY opened #1391 "0"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | x.y.z

#### Summary

#### How to reproduce

[2021-12-23 18:17] #1391 closed, assigned to nobody

[2021-12-23 18:46] kbond commented on #1290
This is a little workaround I have created:

[code]

I'm not sure if this works with all adapters.

[2021-12-24 09:19] TheCelavi commented on #1290
Hi @kbond! I use "list" method to check if there is a directory, didn't tried "visibility" though...

But in general - it is a workaround and there are problems in a wilderness which needs proper solution (such as I have stated above, AWS do have security tied to "directory", CloudFront CDN depends on it).

[2021-12-25 17:33] stancl commented on #1389
I believe that in Laravel, the config serves as a sort of recipe for creating the disk. With some internal factory classes handling the actual creation.

I'm not sure if you can add a custom-made instance into the registered disks, but it probably wouldn't be a good idea anyway, because then I'd have to reimplement Laravel's logic which makes sure that the created disks respect the disk configurat

[2022-01-04 23:57] cgaube opened #1395 "MountManager - Make mountFilesystem() public - like it was before and like the doc say it is"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| BC Break    | no

#### Scenario / Use-case

#### Summary

Same issue as
https://github.com/thephpleague/flysystem/issues/1286

[code]

Because all the methods in the MountManager service are private it makes it difficult / impossible to extends it
My use case is that I want to lazy load the file systems of the mou

[2022-01-06 15:46] Arkitecht opened #1397 "Directory listing fails with hardcoded options"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.1.9

#### Summary

After successfully connecting to an FTP server, I am unable to get the listing of files in the directory. When I manually go into the code and clear the options variable in method `ftpRawlist` the listing comes back successfully.

These options are hardcoded in `listDirectoryContents`

[2022-01-08 19:04] yahyaerturan commented on #1395
+1

Documentation says it can be added manually but IDE/Code says it is private. I thought to PR it, but change is quite minor, so  I gave up.

[2022-01-11 16:18] freekmurze commented on #1290
In [laravel-medialibrary](https://spatie.be/docs/laravel-medialibrary/v9/introduction) I'm checking directory existence in several place in the code. It would be very handy if Flysystem v2 would provide such a method out of the box.

[2022-01-11 17:08] frankdejonge commented on #1290
@freekmurze in medialibrary, why does your library need to know if a directory exists? I'll be checking if I can add a hasDirectory method (which would cause a new major version to be released), but I'm still quite curious why it's needed at all.

[2022-01-11 17:56] freekmurze commented on #1290
When a file is added to the media library it can also create derived files such as thumbnails. The original file is saved together with those derived files in a directory. The directory itself is named using the id (or uuid) of a `Media` Eloquent model.

In the package directories are being checked to see if the medialibrary is healthy, if a media item has derived files, and also in the tests to c

[2022-01-11 21:02] frankdejonge commented on #1290
@freekmurze please check out: https://github.com/thephpleague/flysystem/pull/1401

[2022-01-12 15:11] stof commented on #1305
There is no reason to catch it, as `UnableToConnectToSftpHost` implements `FilesystemException`

[2022-01-14 09:14] johanrosenson commented on #1397
I think this issue and issue https://github.com/thephpleague/flysystem/issues/1387 describe the same issue. I hope a PR for this can be merged in some way, we also ran into and disabled asserts for the time being to work around it.

[2022-01-15 10:27] m-vo opened #1405 "Version 3 and PHP8"
Raising the PHP requirement to >8.0 for version 3 does not seem to be necessary in regards of the [changes that were made](https://github.com/thephpleague/flysystem/compare/2.4.0...3.0.0) to support checking for directories. Am I maybe missing something?

Over at [Contao Open Source CMS](https://github.com/contao/contao) we just included Flysystem support in version 2 (not released yet, but it wil

[2022-01-15 10:32] frankdejonge commented on #1405
Hi @m-vo,

Laravel and Symfony are upping the requirements for PHP version, which I follow. I would recommend raising your requirement too, _especially_ because it's an LTS. PHP 7.4 is already out of active support, and provided you want to be compatible with other ecosystem parts, it'll be very challenging to keep supporting that requirement.

[2022-01-15 10:39] aschempp commented on #1405
Our Contao 4.13 LTS is compatible with the Symfony 5.4 LTS, which still supports PHP 7.4.

[2022-01-15 10:45] frankdejonge commented on #1405
Understood. However, their minimum version doesn't force your minimum.

[2022-01-15 11:03] m-vo commented on #1405
Thanks for the comments @frankdejonge. We require quite a lot of bundles and our users do so as well. If we would just raise our requirements, it would make it unnecessarily hard to upgrade.

I, as a developer, am an advocate for using latest versions. With Contao this is fine, as we IMHO allow a sensible range of possible dependencies. But in my view, someone building an application on top of our

[2022-01-15 12:01] aschempp commented on #1405
You're absolutely right. What I tried to say was that we probably have similar reasons to not require PHP8 as Symfony does in their 5.4 LTS, simply because our users (who are not developers!) need more time to migrate their installations. We have [about 1600 extensions](https://extensions.contao.org) for our CMS and for non-developers a PHP8 requirement might make it impossible to update to the LT

[2022-01-19 11:33] Yiivgeny opened #1408 "WebDAV Adapter"
### Feature Request

Please implement WebDAV Adapter (like version 1)

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

[2022-01-24 14:19] ro0NL opened #1409 "Move replicate adapter to core?"
Would you consider moving the replicate adapter into core?

ref https://github.com/thephpleague/flysystem-replicate-adapter/issues/8

[2022-01-26 13:00] mynameisbogdan opened #1410 "[Bug][FTP adapter] Writing files with folder in location needs to write to duplicate subfolders."
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | 2.3.2

#### Summary

Using `league/flysystem-ftp` to write file `example.txt` to a folder like `TEST` by using location `TEST/example.txt` doesn't work. If you create `TEST/TEST` then it will write to `TEST/TEST/example.txt`

Without `TEST/TEST` created it gives:
![Screenshot 2022-01-26 at 14 58 06](h

[2022-01-26 13:03] frankdejonge commented on #1410
@mynameisbogdan hi, could you PR a test case that shows this? The current test suite seems to cover this case which passes, so either I don't fully understand the issue, or something weird is going on.

[2022-01-26 13:28] frankdejonge commented on #1409
A PR would be reviewed and accepted if submit to this repo.

[2022-01-26 13:30] #1409 closed, assigned to nobody

[2022-01-26 13:52] mynameisbogdan commented on #1410
I'll give it a try, but it seems like the issue can't be replicated when a `root` option is set.

[2022-01-26 14:05] frankdejonge commented on #1410
@mynameisbogdan you can add a test that sets up the root as well

[2022-01-26 14:45] mynameisbogdan commented on #1410
I'm sorry but I tried 3 docker images for a FTP server and all failed in one way or another.

But it seems like the primary issue was failing to run`ftp_chdir($this->connection, '');`:
`ftp_chdir(): Failed to change directory.`

Setting option `root` to `/` and not a empty string which is the default on the bundle, seems to fix my issue with the nested folders.

[2022-01-26 15:09] mynameisbogdan commented on #1410
I added a test using empty string as root in #1411.

[2022-01-27 07:18] frankdejonge commented on #1410
Please checkout #1412

[2022-01-27 11:16] mynameisbogdan commented on #1410
@frankdejonge I just tested it and it fixes my use case for `TEST/example.txt` but if I use `TEST/TEST/example.txt` it writes the file correctly but creates an empty dir `TEST/TEST/TEST`.

Will you target the 2.x branch with your fixes or only 3.x?

[2022-01-27 12:51] mynameisbogdan commented on #1410
Scenario:
[code]

First run is okay
![Screenshot 2022-01-27 at 14 40 59](https://user-images.githubusercontent.com/707714/151361169-a4a2a753-c18d-4f32-986f-7aa466dec958.jpg)

Second run and after is not:
![Screenshot 2022-01-27 at 14 44 14](https://user-images.githubusercontent.com/707714/151361387-808cbf92-743f-4e8e-8a24-fb0cbcc4b0ab.jpg)
![Screenshot 2022-01-27 at 14 44 42](https://user-images.g

[2022-01-27 17:57] frankdejonge commented on #1410
@mynameisbogdan I've adjusted the caching of the connection root, I've also adjusted the test case to use your described case. Could you verify the fix?

[2022-01-27 18:20] mynameisbogdan commented on #1410
@frankdejonge I'll give it a try in an hour and get back to you.

Also I think you should add a test for `dirname/dirname/path.txt` as well.

[2022-01-27 19:39] mynameisbogdan commented on #1410
@frankdejonge I just tested and the fix works 100% for me.

Will you release a new version for 2.x with this fix?

Thank you for your time.

[2022-01-27 20:01] frankdejonge commented on #1410
My plan was to release this as a patch upgrade for v3

[2022-01-27 20:05] mynameisbogdan commented on #1410
I can't upgrade to PHP 8 yet, so if you're kind to release a new version for v2 as well.

If not, I hope it's okay using `root` = `/` in the meanwhile.

Thank you.

[2022-01-27 20:05] #1410 closed, assigned to nobody

[2022-01-27 21:01] frankdejonge commented on #1410
I'm still maintaining v1 for a while and of course v3, I'm only one person so I hope you understand if I don't. It's great that this issue is not fixed, but from a user perspective it can also be fixed by explicitly specifying the default root directory, which makes it a minor issue to keep IMO.

[2022-01-30 13:32] #1350 closed, assigned to nobody

[2022-01-30 13:53] #1365 closed, assigned to nobody

[2022-01-30 13:53] #1261 closed, assigned to nobody

[2022-01-30 13:53] #1290 closed, assigned to nobody

[2022-01-30 13:54] #1292 closed, assigned to nobody

[2022-01-30 14:08] frankdejonge commented on #1354
This is by design. If you want to use absolute paths, you can use `/` as the root.

[2022-01-30 14:08] #1354 closed, assigned to nobody

[2022-01-30 14:08] #1331 closed, assigned to nobody

[2022-01-30 14:08] #1367 closed, assigned to nobody

[2022-01-30 14:09] frankdejonge commented on #1389
Closing this issue as a: wontfix

[2022-01-30 14:09] #1389 closed, assigned to nobody

[2022-01-30 14:10] frankdejonge commented on #1305
This expected, as @stof mentioned, it's covered by the contract.

[2022-01-30 14:10] #1305 closed, assigned to nobody

[2022-01-30 14:10] #1336 closed, assigned to nobody

[2022-01-30 14:12] frankdejonge commented on #1335
1. because this is convenient
2. because I prefer supporting one way of interacting
3. I don't believe it is, no.

[2022-01-30 14:12] #1335 closed, assigned to nobody

[2022-01-30 14:12] #1341 closed, assigned to nobody

[2022-01-31 17:29] nunomaduro opened #1414 "[3.x] Breaking change on `FtpAdapter`"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.0.2
| Package    | https://github.com/thephpleague/flysystem-ftp

#### Summary

The commit https://github.com/thephpleague/flysystem-ftp/commit/813bc063658ad3741e7f58fcb86286b5702ccd49 introduces a breaking change where the `FtpAdapter::__construct` on the line `$this->rootDirectory = $this->resolveCon

[2022-01-31 17:31] frankdejonge commented on #1414
@nunomaduro what is the BC break in your opinion?

[2022-01-31 17:46] nunomaduro commented on #1414
In fact there are 2 breaking changes:

- The first breaking change is related to the `FtpAdapter::__construct` that is now throwing a `League\Flysystem\Ftp\UnableToConnectToFtpHost` exception when a given connection is invalid. That is behavior was not there in the past, therefore is a breaking change. As example, it breaks the existing Laravel Test suite, as we give a dummy connection that `__con

[2022-01-31 18:18] frankdejonge commented on #1414
PR welcome 👍

[2022-01-31 19:37] pyrsmk commented on #1397
I have the very same problem with `pyftpdlib` server. It comes from https://github.com/thephpleague/flysystem/blob/3.x/src/Ftp/FtpAdapter.php#L543 where the options are concatenated with the path. If the server does not support the command it returns an empty array.

When removing the options it works as expected.

[2022-01-31 19:45] frankdejonge commented on #1414
Fixed in 3.0.3

[2022-01-31 19:45] #1414 closed, assigned to nobody

[2022-01-31 23:43] jupitern opened #1415 "Undefined constant Servdebt\\SlimCore\\Filesystem\\S3\\AsyncAwsS3Adapter::EXTRA_METADATA_FIELDS"
### Bug Report

I get the error bellow after update to 3.0.* when calling function fileSize() with AsyncAwsS3Adapter

Undefined constant Servdebt\\SlimCore\\Filesystem\\S3\\AsyncAwsS3Adapter::EXTRA_METADATA_FIELDS
at vendor/league/flysystem-async-aws-s3/AsyncAwsS3Adapter.php
line 444

[code]

works changing to self::

[2022-02-01 07:14] frankdejonge commented on #1415
@jupitern are you extending that adapter by any chance?

[2022-02-01 07:27] frankdejonge commented on #1415
/cc @Nyholm ^

[2022-02-01 08:30] jupitern commented on #1415
yes. forgot to mention that. sorry.

[2022-02-02 10:58] fabio-ivona opened #1417 "Best way to trasfer a very large file between two remote filesystems"
### Question

I am trying to transfer a very large file (~20GB) between two remote filesystems

My initial plan was to use a stream, so I implemented this one:

[code]

but the execution freeze at `$source->readStream()` and I get a connection timeout

Am I missing something? shouldn't the stream be a ligthweight resource?

Maybe there is a better way to achieve this?

Thanks for all your effort i

[2022-02-02 13:07] WilliamStam commented on #1405
the requirement for php 8.0.2 seems to be rather locked in at this point.

adding ` "league/flysystem": "^3"` to the composer.json file (so im hoping to get the latest v3?

[code]

returns an error

[code]

im pretty sure there arent any breaking changes for 8.0.2 from 8, might be mistaken. this might catch some people as well.

[2022-02-02 20:45] frankdejonge commented on #1417
@fabio-ivona can you see if your temp directory is writable?

[2022-02-02 22:30] fabio-ivona commented on #1417
Yep, it is writable, if I try with a smaller file everything goes well

[2022-02-06 00:10] NicolasCARPi opened #1418 "Documentation terminology"
### Question

Hello,

First, thank you for this useful library, I really like the architecture of it. Great design choices!

While browsing the docs, I found this:

![2022-02-03-214124_838x321_scrot](https://user-images.githubusercontent.com/3043706/152663110-f8fbe78b-bc6c-4d4a-a2af-7e6c9f4dc2c0.png)

Shouldn't it be `location of a directory`?

This misnaming appears multiple times in the doc. Or

[2022-02-10 13:24] tacman opened #1419 "Flysystem 3 logo in documentation, installation documentation"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | doc

#### Summary

The documentation implies that Flysystem is at Version 3, but there are no docs for it.  If 3 is in beta, can there at least be a page for that on the documentation, with upgrade instructions, BC breaks, etc.?

![image](https://user-images.githubusercontent.com/619585/153416069-0365153a

[2022-02-11 00:58] dmifedorenko commented on #1408
+1

[2022-02-11 16:18] christoph-kluge commented on #1415
Same here but custom extended class. The temporary solution from @jupitern works like a charm.

In case the const stays private maybe moving the accesor from `static` to `self`?

[code]

[2022-02-12 12:05] frankdejonge commented on #1419
Hi, I've updated the docs. V3 is an extension of V2 with only an adapter interface BC break, so no consumer-code BC break.

[2022-02-12 12:05] #1419 closed, assigned to nobody

[2022-02-12 12:35] tacman commented on #1419
I still find this confusing.  Isn't v2 fully released?  And v3?  Again, I'm a newbie who doesn't want a beta release.

[2022-02-12 12:36] frankdejonge commented on #1419
V2 and V3 are both released, there is no beta.

[2022-02-12 12:39] frankdejonge commented on #1419
I just noticed that beta note, removed that.

[2022-02-12 13:35] tacman commented on #1419
Thanks!  

I would also recommend that the links to the version 1 docs move to the bottom, maybe even under a "Legacy" header.  Mostly this is because I tend to view the sidebar links sequentially, so I first read Getting Started, then I glaze over Security Policy, then I click on Version 1 Docs, and I've unknowingly switched to a new website, and now everything I'm reading is wrong.

Since a web

[2022-02-12 15:10] frankdejonge commented on #1419
I liked that suggestion, so I made it so.

[2022-02-12 15:54] tacman opened #1420 "Drop support for php < 7.4 in version 2"
### Feature Request

Is there any reason to keep support for PHP 7.2?  That's the minimum in composer.json for v2 (v3 is 8.0.2+).

7.2 is dead, 7.4 adds typed properties, etc.  Even if 2.0 isn't being actively developed, flysystem-bundle has the same minimum requirement of 7.2.  If this library bumps to 7.4, then the bundle, which is being actively developed and works for both v2 and v3, can bump

[2022-02-12 19:41] frankdejonge commented on #1420
I don't plan to support V2 as long as I do V1, this issue will resolve itself.

[2022-02-13 09:40] #1418 closed, assigned to nobody

[2022-02-15 21:44] kazoostudios opened #1423 "Presigned upload URLs in Laravel 9?"
This code worked well in Laravel 8. Is this still possible in Laravel 9 with the updated flysystem package?

[code]

[2022-02-15 21:51] frankdejonge commented on #1423
Hi, you can use the aws-s3-sdk directly for this. Flysystem does not support this functionality.

[2022-02-15 22:09] kazoostudios commented on #1423
Thank you for the quick reply! I got it working with the AWS sdk.

[2022-02-15 22:09] #1423 closed, assigned to nobody

[2022-02-16 09:04] faizanakram99 opened #1424 "Unable to set mime type for a file when writing ?"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | 2.4.2

#### Summary

In v1 passing `['mimetype' => 'some mime']` would set mime type for uploaded files (whether `write` or `writeStream`) but this doesn't seem to work in v2. All files uploaded have mime type as `application/octet-stream`

Documentation only says `Filesystem::write()` accepts third p

[2022-02-16 09:05] frankdejonge commented on #1424
Hi, which adapter are you using?

[2022-02-16 09:14] faizanakram99 commented on #1424
AWS S3 V3 version 2.x

We don't use .txt or .pdf as filenames on server, on server the filenames are random integers or uuids and hence we used to set mime type by guessing it with `finfo` before uploading.
(think the build in mime type detector doesn't work well with such file names)

[2022-02-16 19:00] frankdejonge commented on #1424
the mime-type guesser also uses `finfo`. Nevertheless, I've just released 2.4.3 and 3.0.8 which allow you to set the mime-type like in v1.

[2022-02-16 19:00] #1424 closed, assigned to nobody

[2022-02-16 19:03] frankdejonge commented on #1417
@fabio-ivona sorry for the delay. I don't have any solid leads for this issue. It could be a phpseclib issue, but I'm not sure. I do know PHPSecLib allows you to define some constants that put it in verbose mode, which might give you some more idea of what is going on.

[2022-02-16 20:40] fabio-ivona commented on #1417
@frankdejonge thanks for your answer! I'll try to debug it with verbose mode.

I'm closing this as I'm not 100% sure is a flysystem issue and will update if there are new info

[2022-02-16 20:40] #1417 closed, assigned to nobody

[2022-02-16 20:41] frankdejonge commented on #1417
👍

[2022-02-17 08:56] faizanakram99 commented on #1424
Thank you very much

[2022-02-23 11:17] KeanVatharo opened #1426 "League\Flysystem\CorruptedPathDetected"
### Question

Hi PHP Devs,
I got an error on my production environment, that I'm not sure about what happening.
The error was:
**League\Flysystem\CorruptedPathDetected**
**Corrupted path detected: [PATH_TO_MY_FILE]/file.pdf**

I'm using Spatie Media Library package to upload attachments, files.. but when files are uploading, sometime it's working and sometime it wasn't working then popup that erro

[2022-02-26 11:35] frankdejonge commented on #1426
It has to do with unicode chars not being allowed that could cause path traversal and other types of security issues. Without seeing the actual path it's hard to give a more meaningful response tho. So, if you can share some more details, that would be great.

[2022-02-28 13:50] KeanVatharo commented on #1426
Thank you, The errors are now gone. I've changed the file path to something else that is different than Unicode chars and it is working without any issues at all.

Thank you so much!

[2022-02-28 13:50] #1426 closed, assigned to nobody

[2022-03-01 14:03] tomsommer opened #1427 "PortableVisibilityConverter does not use bitwise operator to compare chmod values"
PortableVisibilityConverter should use the bitwise operator to compare chmod values?

A file could have chmod permission 0240 and return visibility `public` even through $filePrivate is 0000 and $filePublic is 0400

[code]

[2022-03-02 11:57] fisharebest commented on #1249
@stalebot - this issue still exists in version 3 - please keep it open.

[2022-03-02 13:48] PaolaRuby commented on #1323
this would have been nice in v3

[2022-03-03 10:36] m-vo opened #1429 "Handle non-UTF-8 paths"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | debatable :slightly_smiling_face:
| Version     | 2 & 3

#### Summary

Paths that contain non-UTF-8 characters are problematic as they behave differently across operating systems. For instance, passing a string with such characters  to `dirname` will produce another result on Windows as it does on Linux [depending on the se

[2022-03-03 12:28] jasperf opened #1430 "List all files with mime type using listContents instead of listWith"
Using Flysystem 3 with Laravel 9 in [Laravel Media manager upgrade draft version](https://github.com/ctf0/Laravel-Media-Manager/pull/201) how would we replace

[code]

in

[code]

Checking https://flysystem.thephpleague.com/docs/usage/directory-listings/ we need something like

[code]

But instead of `StorageAttributes `we may need:

[code]

Or maybe I am way of... Anyways, any pointers you could

[2022-03-07 09:59] mengnarorth opened #1431 "Call to undefined method League\Flysystem\Filesystem::getAdapter()"
use League\Flysystem\Adapter\Local;

Call to undefined method League\Flysystem\Filesystem::getAdapter()
if (!$this->storage->getDriver()->getAdapter() instanceof Local) {
            Handler::error('Error', 'only works for local storage.');
}

Laravel 9

[2022-03-07 10:55] #1431 closed, assigned to nobody

[2022-03-07 11:01] frankdejonge commented on #1431
Closing as it seems this issue was not created by a human.

[2022-03-17 10:06] pndx opened #1433 "How to disconnect from Storage::disk()"
### Question

I use laravel Storage facade to create instance and try to disconnect. How can i disconnect?
I got some error info:
[code]

[2022-03-23 12:28] faizanakram99 commented on #795
Is this still an idea ?

**Valid use case:**
Write a file retrieved from a remote url as StreamInterface to some other location without killing server (out of memory error).

`FilesystemWriter::writeStream()` could accept StreamInterface as well (instead of just `resource`).

[2022-04-01 10:32] marvinschroeder commented on #1387
We also run into this problem with FileZilla Server v1.3.0

[2022-04-01 10:32] marvinschroeder commented on #1397
We also run into this problem with FileZilla Server v1.3.0

[2022-04-01 11:57] grenadecx opened #1436 "How would one get the path prefix?"
In version 1.x it was possible to get the path by calling getPathPrefix function on the adapter. This seems to be removed. How would one solve it now?

[2022-04-01 12:48] frankdejonge commented on #1436
If you have the prefix and the path, you can concatenate the strings to get the full path.

[2022-04-01 12:50] grenadecx commented on #1436
Yeah I understand that. What if I don't?

[2022-04-01 12:51] frankdejonge commented on #1436
You pass it the prefix when you construct the adapter, so you have it, right?

[2022-04-01 13:32] grenadecx commented on #1436
I don't. Well, Laravel probably does at some point. But alright, if that's the only method now I'll make due. Thanks.

[2022-04-01 19:13] frankdejonge commented on #1436
in Flysystem 1.x there was an ever sliding scale of people complaining about not getting access to the all the internals, which basically converted the adapter into a service locator and configuration machine, which this is not. Configuration should be managed separately, and expose configuration setting deliberately. This is not a responsibility of a filesystem abstraction library. It was somethi

[2022-04-01 19:45] grenadecx commented on #1436
Alright, that make sense. Thanks for taking the time to respond.

[2022-04-01 19:45] #1436 closed, assigned to nobody

[2022-04-04 16:25] Naoray opened #1439 "SFTP Adapter doesn't delete directory"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.0.7

#### Summary
When attempting to delete a via sftp created empty directory, the directory is not deleted but the `deleteDirectory()` method marks the operation as successful by returning `true`.

#### How to reproduce

[code]

Based on [this comment in a phpseclib issue](https://github.com/phpseclib

[2022-04-05 13:42] RoofTurkey commented on #198
@frankdejonge how about an extra method in the interface for writing multiple files in one call. `writeMultiple(array $files)`, where `$files` could be a `File` model containing a path, content and config. This way an adapter could implement this function in whatever way makes sense for that adapter (synchronously or asynchronously).

For example, we use Google Cloud Storage and the performance (s

[2022-04-08 18:33] frankdejonge commented on #1439
I think I understand why your tests fail. Another comment on that page indicates that the delete removes everything inside the directory, except for the top-level directory. The rmdir function only works if the directory is empty. This means both need to be called, with the rmdir after the delete call.

[2022-04-08 18:39] frankdejonge commented on #1439
Fixed in 3.0.15

[2022-04-08 18:39] #1439 closed, assigned to nobody

[2022-04-08 18:41] frankdejonge commented on #1433
This is an exception that highlights a connection failure. I'm not sure I understand the question 😅

[2022-04-11 10:01] gdebrauwer opened #1441 "Fallback to mimetype detection based on filename not working in v3"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.0.15

#### Summary

In v1, if the detected mime type of a file was `application/octet-stream`, or `inode/x-empty`, or `application/x-empty`, then that detected mime type would not be returned. Instead, the mime type of the file would be detected based on its name

https://github.com/thephpleague/flysys

[2022-04-11 10:01] gdebrauwer opened #1442 "Fallback to mimetype detection based on filename not working/present in v3"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | n/a
| Version     | n/a

#### Summary

In v1, if the detected mimetype of a file was `application/octet-stream`, or `inode/x-empty`, or `application/x-empty`, then that detected mimetype would not be returned. Instead, the mimetype of the file would be detected based on its name

https://github.com/thephpleague/flysystem/bl

[2022-04-11 12:50] frankdejonge commented on #1442
Hi @gdebrauwer, I've transfered the issue to this repo since this is where it'll be fixed.

[2022-04-11 12:53] frankdejonge commented on #1442
This was fixed in 1.10.0. @gdebrauwer can you update the dependency and check if it works for you?

[2022-04-11 13:07] gdebrauwer commented on #1442
@frankdejonge I upgraded and I still get mimetype `application/x-empty` instead of `text/csv`

[2022-04-11 13:16] gdebrauwer commented on #1442
@frankdejonge It is because the `detectMimeTypeFromFile` method is used instead of the `detectMimeType` where you made a change. So I think the check of the `inconclusiveMimetypes` array should also be done in the `detectMimeTypeFromFile` method

[2022-04-11 13:20] frankdejonge commented on #1442
I'm going to fix this one slightly different, because users of this package outside of the flysystem context don't want changed behaviour.

[2022-04-11 13:36] frankdejonge commented on #1442
@gdebrauwer can you check if 3.0.16 of league/flysystem fixes it for you?

[2022-04-11 13:50] gdebrauwer commented on #1442
It works 🎉 Thanks a lot for the quick fix 🙂

[2022-04-11 13:50] #1442 closed, assigned to nobody

[2022-04-11 13:51] #1433 closed, assigned to nobody

[2022-04-12 15:14] AndreaGero commented on #983
I've added this on the Handler class to prevent reporting

[code]

[2022-04-14 09:07] frankdejonge commented on #1429
There is a path normalizer interface that can be used to implement this check, does that help?

[2022-04-14 14:57] jeremyhalin opened #1447 "Breaking change after updating flysystem with flysystem-google-cloud-storage"
### Bug Report

[code]

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.0.16

#### Summary

Update `league/flysystem-google-cloud-storage` from `3.0.9` to `3.0.15` and `league/flysystem` from `3.0.12` to `3.0.16`.

#### How to reproduce

Without touching configuration, a working project does not work after update.